[2017-02-23 17:37] indiv0 opened #1 "Parsing wrapped primitives"
I have an element which can take either of the following forms:

[code]

It can also be missing entirely.

What is the proper way to handle this scenario with `serde-xml-rs`?

(Continued from https://github.com/serde-rs/xml/issues/35)

[2017-03-12 12:32] RReverser commented on #1
Currently you need to describe e.g. tuple `PlainText(String)` to parse it.

[2017-03-19 07:46] Boscop opened #2 "Expressing tags with attributes and inner value"
How can I express this as a struct to deserialize to?
(In general, xml tags that have attributes and an inner value).
[code]

[2017-03-19 08:22] Boscop opened #3 "Infinite Loop when parsing Vec"
This results in an infinite loop:
[code]
When used on a xml doc that has multiple root elements.

[2017-03-20 11:24] RReverser commented on #3
XML doc can't have multiple root elements, it's malformed XML in that case.

[2017-03-20 11:26] RReverser commented on #2
Using $value as source (like in original serde-xml):

[code]

[2017-03-20 12:08] Boscop commented on #3
Yes, but even in that case it should not cause an infinite loop!
XML can't be trusted to be valid.

[2017-03-20 12:08] Boscop commented on #2
Thanks!

[2017-03-20 12:08] #2 closed

[2017-03-20 13:32] RReverser commented on #3
Fair enough. Want to give a try on the PR?

[2017-03-26 21:38] mathstuf opened #4 "Unable to handle structures with varying keys"
I'm having trouble deserializing input like this:

[code]

into a structure like this:

[code]

I can get it to sort of work if I use `#[serde(rename="$value")]` for `kinds`, but this fails because then *all* fields go there. Am I stuck with having to implement deserialization myself or is there something I can do to make this simpler? The XML is fixed and the rust is flexible here, so if structur

[2017-03-26 21:39] mathstuf commented on #4
(This may be a core serde issue rather than an XML-specific one, but the toggle of behavior based on the presence of a `$value` field is in this crate.)

[2017-03-27 12:14] RReverser commented on #4
Hmm, yeah, I don't think this is possible right now without custom deserializer for that struct. I'll look into simplifying this use-case if possible.

[2017-03-27 15:27] mathstuf commented on #4
Thanks. I wonder if something like a `#[serde(keys=["kind_a", "kind_b"])]` attribute might make sense. Or to have some way to decorate the enum with a "tagged by key in the containing container".

[2017-03-27 16:08] RReverser commented on #4
@mathstuf Unfortunately, attributes are handled by serde_derive, not something specific deserializers can add or control.

[2017-03-27 17:27] mathstuf commented on #4
Agreed. The latter one probably makes more sense for such a level. The former sounds too XML-specific (since most other formats don't support multikey hashes).

[2017-03-28 04:39] mathstuf commented on #4
Pinging @dtolnay in case you have any input here (in case a serde_derive change is feasible).

[2017-03-28 04:39] mathstuf commented on #4
Pinging @dtolnay in case you have any input here (in case a serde_derive change is feasible).

[2017-04-10 20:18] marshauf opened #5 "Unable to handle structure with different array values"
Hello,
I modified the example slightly. Adding OtherItem into the Project structure give the following error:
 thread 'it_works' panicked at 'called `Result::unwrap()` on an `Err` value: duplicate field `Item`', /checkout/src/libcore/result.rs:859

Modified example:
[code]

If I change the order of the items, it works:
[code]
Is this a bug or is this how it is intended to work?

[2017-04-10 20:24] RReverser commented on #5
Unfortunately, this is how it's intended to work (at the moment). Serde's Deserializer trait is designed to work on streams and report items back as soon as they're found, so we can report only consecutive same-typed items as array. Otherwise, we would have to end up with keeping HashMap-based tree of entire XML before sending anything to Serde which would be quite expensive.

[2017-04-10 20:39] marshauf commented on #5
I understand. I am trying to parse wsdl files like this one: http://www.webservicex.com/CurrencyConvertor.asmx?wsdl
And even in that small example the schema structure has an element which is followed by a simpleType and then two elements again.

Do you know of a workaround?
Wouldn't holding information about the leaf and references to the parent chain be enough?

[2017-04-10 20:46] RReverser commented on #5
Huh, I truly hoped such examples don't exist in real-world :(

The way I see, you need to always collect all children first before being able to report arrays to Serde (as you need to have both start and end when you do that). Which means that for each of their children you also need to deserialize their children first. And so on and so on... If you have a version which wouldn't involve such recur

[2017-04-17 13:43] marshauf opened #6 "Option not working with rename macro"
The following code fails with:
``
thread 'it_works' panicked at 'called `Result::unwrap()` on an `Err` value: Expected token XmlEvent::StartElement { name, attributes, .. }, found En
dElement(Item)', /checkout/src/libcore/result.rs:859
``

[code]

If I remove ``#[serde(rename = "Item")]`` and rename Project.items to Project.item the test runs without a failure.

[2017-04-19 09:58] Michael-F-Bryan opened #7 "Serialization Support"
From serde-rs/xml#35 it sounds like this might soon be the de facto crate for using xml with serde. Are there any plans for implementing [Serialization][ser]?

If so, is there anything I can do to help? I'm wanting to serialize to and from XML in one of my projects and it'd be nice to use `serde` instead of having to implement it myself with some sort of `ToXML` trait.

[ser]: https://docs.serde.r

[2017-04-19 12:57] RReverser commented on #7
@Michael-F-Bryan Sure, implementing serializer is more than welcome.

Ideally, my plan was to also reduce deserialization only to cases where the roundtrip would be possible and correct, but this does not necessarily have to be in scope of initial serializer implementation.

[2017-04-25 20:20] dtolnay opened #9 "Update to Serde 1.0"
Release notes: https://github.com/serde-rs/serde/releases/tag/v1.0.0

[2017-04-27 20:58] WrinklyNinja opened #11 "Duplicate field error on interwoven element sequences"
I've got some XML that looks like this:

[code]

and a Track struct looks like this:

[code]

This causes my parsing test to fail with
[code]

However, when I tweak the XML to read

[code]

it works fine. Is there anything I can do to avoid this error?

Also, ideally I'd like to be able to transform the pairs of `<when>` and `<gx:coord>` into objects, eg.

[code]

I mention this in case there's a

[2017-04-28 00:45] RReverser commented on #11
I'm afraid you need to implement `Deserialize` by hand in this case to support it. That shouldn't be too hard, check Serde docs.

[2017-04-28 00:59] WrinklyNinja commented on #11
I suspected that would be the case, thanks for the quick reply.

[2017-04-28 00:59] #11 closed

[2017-05-01 06:39] OTL commented on #5
Hi, thank you for great rust xml tool!

I have the same problem while writing [my project](https://github.com/OTL/urdf-rs).

The data is like below,

[code]

and I want vector of link, and vector of joint.

If some one already solved this problem, could you show me how to handle it?
That will help Rust/serde beginner like me!

[2017-05-11 13:44] oli-obk opened #14 "failing tests from serde-xml"
[code]

[2017-05-26 15:36] theduke commented on #9
This is done now, can be closed.

[2017-05-26 15:46] theduke opened #15 "Get tag attributes and body"
`<Field name="blabla">content</Field>`

How can I get both the attribute `name` and the body into a struct?

[code]

[2017-05-29 02:58] RReverser commented on #15
Use `#[serde(rename = "$value")]` on the `body` field.

[2017-05-29 02:58] #15 closed

[2017-06-02 17:45] RReverser commented on #9
Done under 0.2.0.

[2017-06-05 16:48] craftytrickster commented on #9
You're probably going to want to change the Readme and crates.io information to reflect this.

[2017-06-05 16:50] craftytrickster commented on #9
@dtolnay Since https://github.com/serde-rs/xml/issues/3 claims that it is deprecated in favor of this repo, should this be moved to the serde org instead of serde-rs/xml?

[2017-06-05 16:53] RReverser commented on #9
@craftytrickster Technically 1.0 matches 0.9+, but yeah, could update it 😄

[2017-06-11 01:12] jrozner opened #17 "Deserializing lists"
The following can be sucessfully deserialized into the following structs.
[code]
[code]

However, is it possible to avoid creating the ServiceList struct and just make the service_list member a Vec<Service> instead?

[2017-06-21 15:47] remexre opened #21 "Does not handle surrogate pairs?"
I get a syntax error when decoding the following element:

[code]

[code]

[2017-06-21 15:56] RReverser commented on #21
Hmm, not sure about this. We don't parse XML ourselves, just wrap [xml-rs](https://github.com/netvl/xml-rs) for that - could you please report an issue upstream and comment here when/if it's fixed so that I could bump dependency? Thanks for the report!

[2017-06-21 15:56] #21 closed

[2017-06-26 23:46] theduke commented on #9
Can be closed?

[2017-06-27 00:01] #9 closed

[2017-06-27 00:04] RReverser commented on #17
I don't think so, after all `serviceList` is a separate element on the tree and could potentially have own attributes which would be otherwise lost.

Your best bet can be implementing custom `Deserialize` on `Root` that would deserialize content into an internal structure and convert to a desired format.

[2017-06-27 00:04] #17 closed

[2017-06-27 00:07] RReverser commented on #6
Are you saying that even a lowercase variant works?

[2017-07-07 12:54] indiv0 opened #23 "Structure for optionally-empty lists"
I have a use case which involves parsing optionally-empty lists, like so:

[code]

or:

[code]

What would be the equivalent rust struct to represent this with serde-xml-rs?

[2017-07-07 13:02] RReverser commented on #23
This one is exactly covered in readme:

[code]

Here `items` maps to optional list of `<Item ... />` tags.

[2017-07-07 13:02] #23 closed

[2017-07-07 13:20] indiv0 commented on #23
Oh. My bad, I was missing the `#[serde(default)]`. Thanks!

[2017-07-17 02:27] Boscop opened #24 "How to ignore attributes/children when deserializing?"
How can I parse a XML doc and ignore attributes/members that the xml has, that I don't need in Rust?
E.g.:
[code]

I only care about the `<image>` so I wrote:

[code]

But when I try to parse the above doc, the program allocates more and more GB of RAM, even surpassing 18 GB and doesn't return so I have to kill it.
1. This should never happen. Why does it happen?
2. How can I ignore all the attrib

[2017-07-17 17:20] igilham opened #25 "Fails to parse numbers"
The `deserialize` function can't currently deserialize numbers from the XML input.

[code]

[2017-07-17 18:35] RReverser commented on #25
Hmm, that seems like a regression.

[2017-07-17 19:13] vorner opened #26 "Internally tagged enums are confused"
It seems when using the [internally tagged enums](https://serde.rs/enum-representations.html), the deserializer gets somewhat confused. If I have this code:

[code]

it produces this error:

[code]

I believe this should actually work. This code does work:

[code]

I know the internally-tagged thing is a bit weird in XML, but I actually discovered it in real-life (parsing the conntrack XML output)

[2017-08-02 15:10] farodin91 commented on #25
Is solved with #20

[2017-08-05 01:48] Dushistov commented on #25
@RReverser

So there is version where number pasrsing works? Which one?

[2017-08-05 21:51] dtolnay opened #27 "Documentation"
I thought I would pass along some feedback from https://users.rust-lang.org/t/rust-serialization-to-xml/12212:

I think they may have been comparing [`serde-xml-rs`](https://docs.rs/serde-xml-rs/0.2.0/serde_xml_rs/) against [`serde_json`](https://docs.rs/serde_json/1.0.2/serde_json/).

[2017-08-09 17:55] kpcyrd commented on #25
I ran into this issue as well, this works:
[code]
this doesn't
[code]

I'd appreciate a patch on crates.io :)

[2017-08-17 08:09] oli-obk commented on #7
There is now initial serialization support. I suggest we track specific serialization issues in a separate issue.

[2017-08-17 08:17] oli-obk commented on #7
@RReverser can you also give me publishing rights on crates.io? Currently I can push to this repo but not to crates.io

[2017-08-17 09:55] RReverser commented on #7
@oli-obk Ok, sure.

[2017-08-17 09:58] RReverser commented on #7
Done.

[2017-08-17 09:58] #7 closed

[2017-08-17 10:44] oli-obk commented on #24
I think this might be a duplicate of #3 .

This small example you have shown should definitely **not** require multiple GB of RAM

[2017-08-18 09:47] farodin91 opened #29 "Some tests fails due to activate triming"
for example: test_option

[2017-08-18 10:33] oli-obk commented on #29
can you elaborate? Maybe post the error output. Is it spurious and only happens sometimes?

[2017-08-18 10:39] farodin91 commented on #29
This test `test_parse_ok(&[("<a> </a>", Some(" ".to_string()))]);` will fail until trim_whitespace is false.

[2017-08-18 13:26] oli-obk commented on #29
Oh. I think it's fine to simply replace the output with `Some("".to_string())`

[2017-08-18 13:28] oli-obk commented on #14
This list has already been reduced massively by @farodin91's great work!

[2017-08-18 13:28] #14 closed

[2017-08-18 14:03] farodin91 opened #30 "Move de and ser into own folder"
Restruct project structure.

[2017-08-21 12:26] #30 closed

[2017-08-22 07:49] farodin91 commented on #6
This code works on the latest master.

[2017-08-22 08:20] oli-obk commented on #6
🎉

[2017-08-22 08:20] #6 closed

[2017-08-22 08:37] #3 closed

[2017-08-22 08:57] oli-obk opened #33 "Add streaming deserialization"
I merged #32 without realizing the implications.

Now we can parse

[code]

as a sequence, even though it is malformed XML.

On the other hand, `serde-json` has a way to deserialize objects from a stream. I think we should forbid this deserialization from working in the regular case, but add an additional way to get an iterator that produces multiple values from an input like the above.

[2017-08-22 09:06] farodin91 opened #34 "Update readme.md"
Todo
- serde version 1.0
- code example should work with current syntax
- add serializer

[2017-08-22 11:54] Boscop commented on #33
Many XML documents that occur in the real world have multiple root elements (e.g. the ones I have to deal with at work) so I'd appreciate if I could still parse those documents (even though they don't adhere to the standard).
Maybe it would make sense to treat parsing and validation as separate concerns? What other ways are there that a xml document can be syntactically correct but semantically ma

[2017-08-22 15:55] Michael-F-Bryan commented on #34
What are your thoughts on using [rust-skeptic] to make sure the README is always up to date?

[rust-skeptic]: https://github.com/brson/rust-skeptic

[2017-08-23 09:08] farodin91 commented on #26
Any idea how to fix it? @oli-obk

[2017-08-24 06:15] Michael-F-Bryan opened #38 "Unable to deserialize newtype structs"
I just encountered an issue when deserializing a newtype struct. You usually use a newtype struct (e.g. `struct Foo(Bar)`) to put something inside a tag, however `serde_xml_rs` seems to want to treat it as a map.

Recycling bits from the `tests/test.rs` file:

[code]

When run (`cargo test --tests`), this errors with:

[code]

[2017-08-24 07:54] farodin91 commented on #38
Seems to be the same bug as #26

[2017-08-24 08:10] Michael-F-Bryan commented on #38
Possibly, although in that case it's more to do with tagged enums, while this one is purely about structs.

It could also be because the `Serializer::deserialize_newtype_struct()` function forwards to `deserialize_any()` and that's not interpreting it correctly. Should I have a go at implementing the `deserialize_newtype_struct()` method manually and see if that fixes the problem?

[2017-08-24 08:12] farodin91 commented on #38
The following code seems to solve only partial failures.
[code]

[2017-08-24 09:04] Michael-F-Bryan commented on #38
I don't think that would work. You don't read the opening tag and check it's correct, so it probably won't work as expected.

How was the deserializer designed? I've got an initial implementation for `deserialize_newtype_struct()` which correctly passes my tests, but it's pretty hard to understand the rest of the code with all the macros, `read_inner_value()`, and the magical `is_map_value` bool..

[2017-08-24 09:11] Michael-F-Bryan opened #39 "Serializing should use the XML library instead of printing strings"
When I initially wrote the `Serializer` I was just using `write!()` to write the XML as a string to an internal `io::Writer`.

Ideally we should be using the `xml-rs` library instead so can guarantee the generated XML is syntactically correct, plus we'd get things like pretty-printing for free.

[2017-08-24 09:13] Michael-F-Bryan commented on #39
@oli-obk, any chance you can add the "Refactor" label to this?

[2017-08-24 09:13] farodin91 commented on #38
It would be cool to refactor the code in more serde json like version

[2017-08-24 09:29] Michael-F-Bryan commented on #38
What did you have in mind? From memory the `serde_json` deserializer incorporates both a generic JSON parser and a `serde::Deserializer`, while we're handing the parsing bit off to `xml-rs`.

[2017-08-24 09:39] farodin91 commented on #38
I through about looking how deserialize in JSON works.

[2017-08-24 09:47] farodin91 commented on #39
I could start working on it.

[2017-08-24 10:29] Michael-F-Bryan commented on #39
You may want to hang out until we merge #36. I've gone through and added support for serializing all the serde data types, so we'd end up stepping on each others toes and have annoying merge conflicts.

After that you can just go through and swap out `write!()` statements with pushing an XML event to a `xml_rs::EventWriter`. It shouldn't be overly difficult because all the structure is there, we j

[2017-08-24 11:01] Michael-F-Bryan commented on #38
Mmm, I don't know if that'll work for us. Their code is doing a lot more than us (compare [serde_json] to [us]) and they deal in characters and are doing the parsing with all the difficulties that come along with that (unicode and string escaping). While we're just dealing in XML events and the parsing has already been done for us.

In theory it should just be a case of peeking at the next XML eve

[2017-08-29 01:03] Michael-F-Bryan commented on #25
This works on `master`, so should we close the issue?

[2017-08-29 06:55] oli-obk commented on #25
Jup

[2017-08-29 06:55] #25 closed

[2017-08-30 00:01] csssuf opened #41 "Boolean fields specified with integers always parse as true"
Boolean fields specified as integers always seem to parse as true, even with contents of `0`:

[code]
This test program outputs:
[code]

[2017-08-30 11:45] RReverser commented on #41
This seems to be a duplicate of https://github.com/RReverser/serde-xml-rs/pull/18, please see my reasoning there.

[2017-08-30 11:50] oli-obk commented on #41
Note that you can always use `#[serde(deserialize_with=foo)]` to overwrite the behaviour to match your use case. (See https://serde.rs/field-attrs.html for details on how to do that)

[2017-08-30 11:50] #41 closed

[2017-08-30 21:05] ifeherva opened #42 "Deserializing fields with values"
What rust structure shall I go for the following situation?
``<MyStruct>
<Foo a="351">
 <deDE>Flugzeug</deDE>
<enUS>Airplane</enUS>
</Foo>
<Foo a="342" b="bar">Triangle</Foo>
</MyStruct>``

I could not find a suitable example for describing a field with a value like ``<a b="c">k</a>``

Thanks!

[2017-08-30 21:32] ifeherva commented on #42
Seems like
``#[serde(rename="$value")]
content:String,``
is the solution for content, but they seem not to work when they are optional.

[2017-08-31 22:45] kevincox opened #43 "Return error on composite key."
https://github.com/RReverser/serde-xml-rs/blob/d824bca2f193d554bfe58d5de211994c7079bf12/src/ser/var.rs#L49

IIUC this can be done by creating a new serializer that is restricted to only "key safe" types instread of returning parent. Then that serilizer throws an error for anything that can't be used as a key.

[2017-09-04 10:45] mdashti opened #44 "Add convenience function for parsing common forms of booleans"
Hi all,

I have the following (minimized) program:

[code]

And the result of running it is:

[code]

I am using rustc 1.20.0 (f3d6973f4 2017-08-27) and my sample project is in [test_proj.zip](https://github.com/RReverser/serde-xml-rs/files/1274459/test_proj.zip).

Can anyone help me to solve the issue?

[2017-09-04 11:21] oli-obk commented on #44
This is expected. You should use `#[serde(deserialize_with=foo)]` and

[code]

[2017-09-04 14:20] farodin91 commented on #44
@oli-obk Should this work with the next version.

[2017-09-04 14:32] oli-obk commented on #44
No. This is a can of worms that we do not want to open (see https://github.com/RReverser/serde-xml-rs/pull/18). We can offer the function `foo` as a convenience function though, since this seems to be a common issue.

[2017-09-04 16:25] farodin91 commented on #44
I though of this test https://github.com/RReverser/serde-xml-rs/blob/master/tests/migrated.rs#L342-L349

[2017-09-05 09:38] oli-obk commented on #44
Huh? How is that test passing?

[2017-09-05 09:43] farodin91 commented on #44
https://github.com/RReverser/serde-xml-rs/blob/master/src/de/mod.rs#L230

[2017-09-05 09:47] oli-obk commented on #44
So it works as a root element but not a field?

[2017-09-05 09:58] farodin91 commented on #44
Something like `<test bla="true"></test>` should also work, but `<test bla></test> ` shouldn't work currently

[2017-09-05 10:01] mdashti commented on #44
The [https://github.com/durch/rust-s3](rust-s3) project was apparently working fine before and could parse the this xml:

xml```
<ListBucketResult
    xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
    <Name>RelationalAI</Name>
    <Prefix>/</Prefix>
    <KeyCount>0</KeyCount>
    <MaxKeys>1000</MaxKeys>
    <IsTruncated>true</IsTruncated>
</ListBucketResult>
[code]

[2017-09-06 16:28] RReverser commented on #44
@mdashti serde-xml-rs definitely didn't support that format, it's rather because you switched from serde-xml to serde-xml-rs in rust-s3 in https://github.com/durch/rust-s3/commit/2f684e28b8750fb9b5ea44572c95935d918d73f7

[2017-09-08 18:39] kjeremy opened #46 "Can't deserialize f32"
In trying to deserialize:

[code]

I get:

How do I ensure that `NoisePower::value` is deserialized as `f32`?

[2017-09-08 21:57] kjeremy opened #47 "Deserialize with xml header"
I'm trying to deserialize xml that starts with:

[code]

but it fails.  Is there a way to ignore the header?

[2017-09-08 21:58] kjeremy commented on #46
Duplicate of #25

[2017-09-08 21:58] #46 closed

[2017-09-09 07:31] oli-obk commented on #47
Not yet, but this is trivial to implement in the parser. Maybe we should bail out with an error if standalone is "no"

[2017-09-09 22:53] kjeremy commented on #47
I'm looking at this right now (I'm a total rust newbie) and I don't understand why it doesn't work.

The following in `inner_next` should handle it:
[code]

[2017-09-10 09:23] oli-obk commented on #47
That seems too general. You'd skip over every kind of syntax error. I also am not sure if `xml-rs` even supports recovering from syntax errors. Have you checked whether xml-rs supports headers in some way?

[2017-09-10 17:17] RReverser commented on #47
xml-rs definitely supports `<?xml ...?>` if that's what you mean by headers, it's in its own test suite: https://github.com/netvl/xml-rs/blob/master/tests/documents/sample_1.xml

[2017-09-10 17:19] RReverser commented on #47
And it's returned as `StartDocument`, which we already ignore. @kjeremy please provide more details - full reproducible example and error message you're getting.

[2017-09-10 21:12] kjeremy commented on #47
Right it returns `StartDocument` which is why I'm surprised.  The following test illustrates the problem and fails with a parsing error.

[code]

[2017-09-10 21:20] RReverser commented on #47
@kjeremy If it's literally your XML, then the problem appears to be these weird quotes you have in the test - `”` (U+201D) in `<?xml ...?>` vs normal quote `"` (U+0022) everywhere else. Perhaps copied incorrectly from somewhere?

[2017-09-10 21:29] kjeremy commented on #47
Ah ha! Good catch.  Yes I had originally copied some XML from a word doc.  Replacing the quotes fixed the issue.  I will close this.

[2017-09-10 21:29] #47 closed

[2017-09-11 14:25] MarcAntoine-Arnaud opened #49 "attributes serialization"
How to serialise attributes on XML items ?
I d'ont see anything for that. Any suggestion ?

[2017-09-11 14:27] MarcAntoine-Arnaud opened #50 "Namespace"
Do you have any way to get namespace during deserialisation ?
And to add prefixes (and definition) of them for serialisation ?

[2017-09-11 14:32] oli-obk commented on #49
Yea attributes are a weird thing. I'm not sure how to handle them. We could rename fields to something like `%foo`, where the `%` denotes that the field is meant to be an attribute. This would require one to annotate all attributes, but would work quite nicely I think and remove all confusion we have currently in the deserializer.

[2017-09-11 14:42] MarcAntoine-Arnaud commented on #49
Yep I think like in every library who manage XML ... It's still the same problem of naming.
But yep adding a prefix can made sense (which need to be a parameter) because with that we can generate reversible JSON.

[2017-09-11 14:58] RReverser commented on #49
I agree, also was thinking about this approach to ensure roundtrips. Could avoid most annotations by using something like `attr_width` vs `sub_item` by default, but maybe that will be even more verbose?

[2017-09-11 14:59] oli-obk commented on #49
You mean to require adding `%` for non-attributes?

[2017-09-11 15:02] RReverser commented on #49
@oli-obk I mean to avoid any annotations and instead use prefixes for struct fields (which is essentially the same, just perhaps more convenient).

[2017-09-11 15:04] oli-obk commented on #49
hmm.. I don't like that, because it exposes xml stuff to users of the struct who don't even care about xml

[2017-09-11 15:11] RReverser commented on #49
Maybe... although author can still add annotations to rename it if it's a public structure / fields and not just for internal usage.

[2017-09-16 14:10] MaikKlein opened #52 "I am unable to map some parts of vk.xml to serde"
From the vulkan spec:
[code]

I have no idea how this would map to serde. I almost believe that this can not be expressed?

I am really confused, any help is greatly appreciated.

[2017-09-16 14:39] MaikKlein commented on #52
I guess I can express is sort of like this
[code]
But then I am missing the content in between `<type> ... </type>`.

[2017-09-16 16:35] farodin91 opened #53 "bump new version as RC"
@RReverser It would be cool to release to crates.io, the current state as a RC.

[2017-09-18 00:08] terrybrashaw commented on #52
Wow, what a coincidence. I'm also trying to write vulkan bindings generated from vk.xml and just ran into this problem.

[2017-09-18 18:07] RReverser commented on #52
@MaikKlein Did you try other representations from https://serde.rs/enum-representations.html ? I would think in the worst case `untagged` should work (but one of tagged probably too).

[2017-09-18 19:11] terrybrashaw commented on #52
In the simplest form, the type of xml that *seemingly* cannot be deserialized by serde-xml-rs looks like:
[code]

I thought this might work:
[code]

But it errors with: `Custom("missing field 'elements'")`

I also tried various other ways without success.

[2017-09-18 19:29] terrybrashaw commented on #52
Also, @MaikKlein, I found that [other people had similar issues](https://github.com/KhronosGroup/Vulkan-Docs/issues/210) parsing vk.xml (along with some other gripes). So, somebody created an application to convert vk.xml into something saner: https://github.com/NicolBolas/New-Vulkan-XML-Format

It looks pretty good at first glance, and should be easily parsable by serde-xml-rs.

[2017-09-19 14:46] MaikKlein commented on #52
@RReverser I actually haven't, I think that could be sufficient. But I am not sure if you can still parse things inside tags and between tags. `<foo inside=""> between </foo>`

@terrybrashaw We probably should join forces if we both want to just parse the `vk.xml` (or something similar). I need it for [ash](https://github.com/MaikKlein/ash).

[2017-09-19 16:31] terrybrashaw commented on #52
@MaikKlein Sure, I'll message you on Reddit so we can coordinate.

[2017-09-29 10:40] ormung commented on #49
Probably you already know of it, but [here](http://wiki.open311.org/JSON_and_XML_Conversion/) there's a nice overview of some of the most common mapping conventions for attributes (and namespaces). The main problem is, there's all kind of conventions. Maybe a plugin system to allow choosing one's preferred method would be best?

[2017-10-03 21:59] esn01 opened #54 "serialize doesn't work"
following code:

#[macro_use]
extern crate serde_derive;
extern crate serde_xml_rs;
//extern crate serde;

use serde_xml_rs::*;

#[derive(Debug, Deserialize, Serialize) ]
struct Item {
	pub name: String,
	pub source: String
}

#[derive(Debug, Deserialize, Serialize)]
struct Project {
	pub name: String,

	#[serde(rename = "Item", default)]
	pub items: Vec<Item>
}

fn get_project() -> Project {
	let

[2017-10-03 22:06] esn01 commented on #54
I hope that this time whole text will be visible..

#[macro_use]
extern crate serde_derive;
extern crate serde_xml_rs;
//extern crate serde;

use serde_xml_rs::*;

#[derive(Debug, Deserialize, Serialize) ]
struct Item {
	pub name: String,
	pub source: String
}

#[derive(Debug, Deserialize, Serialize)]
struct Project {
	pub name: String,

	#[serde(rename = "Item", default)]
	pub items: Vec<Item>
}

[2017-10-04 11:31] RReverser commented on #54
Please use ```` ```rust ```` and ```` ``` ```` lines to wrap your code blocks, then it would be much easier to read them.

[2017-10-20 09:11] dylanede commented on #53
I would also be interested in this happening.

[2017-10-23 10:55] Mloc commented on #52
Was there any progress on this? I'm trying to parse something very similar, looks like this:
[code]

[2017-10-23 10:59] oli-obk commented on #52
that sounds like a bug. We should never see the name `elements` in any errors if there is a `rename` attribute. If that issue is fixed, maybe your setup works?

[2017-10-31 12:09] mloc opened #55 "Deserializing Vec fails if there's something in between"
Using this code...
[code]
...to deserialize this file...
[code]
...gives this error...
[code]

This doesn't happen if the elements in the root are contiguous, like...
[code]

Expected output in both cases is:
[code]

Am I doing something wrong here? Is there any way around this? The data I'm working with is formatted like the first example.

[2017-10-31 13:03] oli-obk commented on #55
This is really hard to do and if implemented, completely messes up how serde operates and requires heap allocations.

Additionally to considering solutions on the serde-end, please consider talking to the provider of your data whether they can produce a format that doesn't require a lot of state during deserialization.

[2017-11-01 08:38] Boscop opened #56 "serialize duplicates field name/type"
[code]
`"<Message><ARTSCommonHeader><ArtsCommonHeader><MessageType>Request</MessageType></ArtsCommonHeader></ARTSCommonHeader><content><SystemTransaction><DeviceTime>2017-10-11 12:53:00</DeviceTime><ActionCode>Update</ActionCode></SystemTransaction></content></Message>"`

It serializes `<ARTSCommonHeader><ArtsCommonHeader>...</ArtsCommonHeader></ARTSCommonHeader>`. This shouldn't happen!

Btw, wha

[2017-11-01 08:42] xiaoaiwhc commented on #1
Is there a method to ignore the outer attribute and only define one struct matches the inner data:
[code]
Here I only care about the inner data and want to skip the outers:
[code]

[2017-11-01 14:28] Mloc commented on #55
Changing the output from the original program probably isn't going to happen, it's old and the order represents something from the underlying data.

For now I'm using a separate processing pass to group children together, I guess that's the best option for now. Thanks!

[2017-11-01 20:15] Boscop opened #57 "How to serialize struct field as xml attribute?"
How to serialize a struct field as xml attribute?

What I want to get is:
`"<Message><ARTSCommonHeader MessageType="Request"/><SystemTransaction ActionCode="Update"><DeviceTime>2017-10-11T12:53:00</DeviceTime></SystemTransaction></Message>"`

But if I use normal struct fields for MessageType and ActionCode, they are not serialized as attributes but as tags (`<MessageType>Request</MessageType>` and

[2017-11-02 09:38] oli-obk commented on #57
This is not yet implemented. It is covered in #49

[2017-11-02 09:38] #57 closed

[2017-11-02 09:54] Boscop commented on #49
I think an annotation would be a good choice. Maybe `#[xml(attribute)]`.

[2017-11-02 10:01] oli-obk commented on #49
We'll also need to enforce that attribute-fields come before regular fields, because the serializer cannot look ahead. This is probably only doable with a runtime error though.

[2017-11-09 21:56] weegeekps opened #58 "Duplicate field $value error"
I'm currently, as part of trying to learn how serde-xml-rs works, trying to parse [Senate roll call data](https://www.senate.gov/legislative/LIS/roll_call_lists/vote_menu_115_1.xml). When learning new XML libraries this is my go-to source as it usually is well formed and has some more advanced pieces. An example of a vote:

[code]

When I try to parse the `<question>` tag I run into issues. I've b

[2017-11-16 03:33] robo-hamburger commented on #53
It looks like #20 was fixed a while ago but doesn't seem to work on the crate published on crates.io.

[2017-11-18 14:57] pftbest commented on #25
This doesn't work on crates.io

[2017-12-04 19:06] Binero opened #59 "How to parse a tag with an attribute and contents?"
How would I get it to parse this example?

[code]

If I make a structure `Item`, I cannot get to `Contents` any more.

[2017-12-05 02:54] RReverser commented on #59
Duplicate of #15 and such?

[2017-12-05 10:16] #59 closed

[2017-12-05 22:16] Binero commented on #58
This sounds like it's strongly tied to https://github.com/RReverser/serde-xml-rs/issues/55.

[2017-12-06 10:08] kindlychung opened #61 "Use quick-xml instead of xml-rs"
For some significant performance gain:
https://github.com/tafia/quick-xml

[2017-12-06 20:24] Binero commented on #55
I opened an [issue](https://github.com/serde-rs/serde/issues/1113) for this on `serde`'s end, but they seem to point to this crate to handle it.

[2017-12-10 14:03] adnanademovic commented on #42
I'm having the same issue to solve, in a simpler version. I don't know how I'd represent a structure that can accept either of these 3:
[code]

[2017-12-10 16:27] RReverser commented on #42
Interesting. Does enum not work for these cases? (where all attributes and $value are fields of variants)

[2017-12-10 17:56] adnanademovic commented on #42
I worked with an enum of approximately this design:

[code]

And it didn't work. I tried to refactor it as a struct, with fields `A: Option<String>`, `B: Option<String>`, and $value renamed `V: Option<String>`. In both cases tests pass for tagged cases, but as soon as I add the value case all tests fail.

[2017-12-22 18:51] frol commented on #25
Please, release a functional version on crates.io.

[2018-01-18 02:02] Boscop commented on #49
@anton-dutov Wouldn't that also affect json serializaton because it's `#[serde(rename)]`?

[2018-01-18 05:52] anton-dutov commented on #49
@Boscop Just for case where only xml (seri/deseri)lization used, on other cases modification of serde required

    #[rename(field, target=json)]
    #[rename(Field, target=xml)]
    field: Type

[2018-01-18 07:35] MarcAntoine-Arnaud commented on #49
it's interesting @anton-dutov, in this formulation `#[serde(rename = "$xml:attr:name")]` we can also address the namespace like: `#[serde(rename = "$xml:ns:name")]` (issue #50).
On my side it looks the most relevant solution.

[2018-01-18 07:56] anton-dutov opened #62 "Advanced #[serde(rename)] impl"
Required detail discussion, my vision is for #[serde(rename = "$xml:x")]

- $xml:tag:value or $xml:value for tag Value
- $xml:ns:name for NS Value
- $xml:attr:name for Attr Value

Also somethink like $path (may be hard to impl)

Most XML definitions looks like that

    <Reply>
        <Container>
            <Item>1</Item>
            <Item>2</Item>
        </Container>
    </Reply>

But usually

[2018-01-18 07:58] anton-dutov commented on #49
@MarcAntoine-Arnaud, @Boscop

COntinue discussion in #62

[2018-01-23 17:03] xoac opened #63 "i64 is deserializaed as string"
[code]
And xml
[code]

And error:

if I change wind_speed to `i32` works fine

[2018-01-28 16:45] MarcAntoine-Arnaud commented on #62
Looks cool.

Just a question: is it required to une an XPath ?
In your case it can be defined in rust like:

[code]

but using the XPath is more generic.

Do you plan to develop this feature ? I need it during next month, and for that I will probably work on it soon.

[2018-01-28 17:58] RReverser commented on #62
Using such kind of names will break serde for other destination types since they don't know anything about `$xml:` prefix and it will be treated as part of the field name (which is what `rename` is for).

[2018-01-29 06:34] MarcAntoine-Arnaud commented on #62
Yes made sense.
So do you think we can purpose Serde to add the field target to solve that ?

[code]
or

[code]

[2018-01-29 09:45] RReverser commented on #62
I don't know, maybe? That issue should go on serde repo.

[2018-02-07 16:29] jimrybarski commented on #53
Is anything in particular blocking this that I could help out with?

[2018-02-13 04:37] lancecarlson commented on #53
@RReverser Can we get a new release? Just realized bools work in the git version and I've frozen to that version for the time being.

[2018-02-20 05:23] spease opened #64 "Deserialization for elements and attributes with ":" in name"
This is a considerable problem when trying to parse DTDs. Replacing the colons with underscores allows for parsing otherwise.

[2018-02-20 22:17] RReverser commented on #64
Could you please provide more details?

[2018-02-21 02:17] spease commented on #64
https://raw.githubusercontent.com/HUPO-PSI/mzML/master/schema/schema_1.1/mzML1.1.0.xsd

The xml: and xs: in tag and attribute names would not parse (using Serde rename to set the exact name for a Rust struct member). After renaming with _ instead of :, I was able to parse it.

[2018-02-23 10:09] RReverser commented on #64
I mean, details on how do you see this working on the Rust side? Obviously `:` is not a valid part of a Rust identifier, so you still need to either ignore part before `:` as library currently does or emit full name but then force every consumer of such name to use `serde(rename)`. Not sure which one is better. Or do you have other suggestions?

[2018-02-23 10:16] oli-obk commented on #64
In the old xml parser I simply stripped such prefixes. I have no idea what they even do, and if everyone just ignores them anyway, I don't see a reason to keep them.

[2018-02-23 10:30] RReverser commented on #64
Yeah, that's what I'm doing too.

[2018-02-23 10:32] RReverser commented on #64
@oli-obk While you're here - could you please reply to https://github.com/serde-rs/xml/issues/35#issuecomment-343310659? I left it a while ago but still don't know if it's desirable :)

[2018-02-23 18:11] spease commented on #64
@RReverser I'm accustomed to serde libraries using #[serde(rename)] for such cases rather than throwing out part of the identifier. That's what I've generally done with csv files for sure, but I think I've had the problem with json as well.

A bit of googling shows that part of the identifier is used for namespaces, so beyond being counterintuitive (at least to me) it seems like this would lead to

[2018-02-26 07:38] TylerWasniowski opened #65 "Publish new crates version"
Can you please publish change to crates.io? Thank you!

[2018-02-27 04:47] cetra3 commented on #55
You can use enums for this:

[code]

[2018-02-28 23:17] onelson opened #66 "`Expected token XmlEvent::Characters(s), found StartElement` when trying to deserialize text and node children together"
Hi!

I'm trying to capture some data from an xml fragment that includes both a child node, and a text node, but the parser seems to be having trouble. Looks like capturing `$value` is breaking when there's any other node present.

The use case is virtually identical to #58 but I'm seeing a different backtrace.

[code]

Running the test:
[code]

Wondering if there's another way we should be marking

[2018-03-01 01:36] onelson commented on #66
Updating to the latest in the repo, I get the same ```"duplicate field `$value`"``` message as seen in #58

[2018-03-06 04:03] bitbegin opened #67 "failed with a BOM file"
If the file has a BOM header, the 'deserialize' will be failed.

[2018-03-29 21:09] vosmith commented on #62
I've just started getting into rust.  Reading the response from the serde-rs project, are you still considering how to allow serialization for attributes?

[2018-04-02 14:13] futile commented on #63
This also happens in attributes (and is REALLY annoying):

[code]

[code]

Output:
[code]

Funnily, `i32` doesn't work in this case. `u8` would work, but then the value is too large for the type.

[2018-04-02 17:05] futile opened #69 "Deserialize "$value" as `String` or `Vec<SomeStruct>` based on attributes"
I have data which can look like either:

[code]

or

[code]

And, as far as I can see, this is not yet possible. With the old serde-xml I was able to get a `serde_xml::Value`, which was an enum that could be, e.g., `Value::Element(...)` or Value::Content(...)`, which made it possible to handle them individually. However, I have no Idea how I would do that currently.

The regular `Deserializer`/`Vi

[2018-04-02 17:07] futile commented on #65
I think this would need to be a breaking change, as the README still talks about `deserialize`, but it's actually called `from_str` now I think.

[2018-04-17 21:17] lilyball opened #70 "Deserializer does not support borrowed strings"
It appears that serde-xml-rs cannot be used to deserialize into borrowed strings. This is rather annoying.

Example:

[code]

This prints

[2018-04-18 10:41] RReverser commented on #70
Just like with JSON, this is not possible for general case, unless, like with serde-json, you don't mind runtime error whenever your string contains escaped characters. It would be possible to implement it that way, but might be an even bigger footgun than allowing only owned strings.

[2018-04-18 15:59] kballard commented on #70
I don't mind a runtime error when my string contains escaped characters. I'm opting in to that restriction when I choose to use borrowed data.

In my case, I'm parsing a multi-megabyte file of XML that I'm pretty confident doesn't contain any entities (at least, not in the text nodes I care about), and being able to use borrowed data would allow me to eliminate most of the string copying from my p

[2018-04-25 08:34] Rutger798 opened #71 "Can't handle duplicate field between TAG and Attribute"
The following XML data result in "Error: duplicate field `fragments`"
`<?xml version="1.0" encoding="UTF-8"?>
<output_message timezone="UTC" id="3200" repeat="0" fragments="1">
   <fragments>
      <fragment cycle="0" frame="11" />
   </fragments>
</output_message>`

**input struct is:**

#[derive(Debug, Deserialize)]
pub struct OutputMessage {
    pub timezone: String,
    pub id: String,
    pub

[2018-04-25 10:47] frol commented on #65
@RReverser Is there any chance to release the existing changes any time in future?

[2018-04-25 12:31] RReverser commented on #65
Yes, sorry. I can release existing ones, but in general I think I'll start looking for a new maintainer to take care of this library - it was fun to write it, but as I don't have a need to use it myself anymore, it's hard to find time for the maintenance it deserves and I'd better give the "keys" to someone who can and want to take care of it.

[2018-05-13 00:32] Boscop commented on #62
@MarcAntoine-Arnaud Does yaserde already support telling the serializer to serialize a struct field as a xml attribute? Or what is the current progress status of yaserde?

[2018-05-13 08:06] MarcAntoine-Arnaud commented on #62
@Boscop please follow the discussion [here](https://github.com/media-io/yaserde/issues/1).

[2018-05-14 22:26] viking commented on #63
Still experiencing this issue for attributes. It always deserializes as string (f64 doesn't work either).

[2018-05-15 07:40] futile commented on #63
@viking have you tried the current master version? I think this was fixed there for me.

[2018-05-15 16:08] viking commented on #63
@futile You're right. It works in master (although the README documentation is out of date). I saw your comment above about it working in master but I thought you were referring to content tags instead of attributes. Thanks!

[2018-06-15 19:21] smadamson opened #72 "deserialization of bools not working properly"
Changing the existing test collection_of_enums() to contain a false rather than true, causes the test to fail.
The test uses "t" for true so I'm assuming that "f" should be used to indicate false in the xml. It appears that when deserializing a bool, the value always gets set to true, no matter the input.

[2018-06-15 19:36] smadamson commented on #72
Actually, I looked into this issue further and found that any content in a field deserializes to true and empty content deserializes to false. Why is this? This is a little bit confusing to me.

[2018-06-15 19:43] smadamson commented on #72
Hmm I see a PR related to this issue. It looks like there's already a discussion on this.

[2018-06-15 19:43] #72 closed

[2018-07-11 22:47] synlestidae opened #73 "deserialize() panics when element has attribute i:nil="true""
I have the following struct.

[code]

It should deserialise from this XML (which is returned from an API).

[code]

But my deserialising test panics with this error:

[code]

When I remove the `Transaction` and `TransactionStatusCode` elements as so (both have i:nil attributes)

[code]
then it deserialises and my tests pass. Shouldn't serde-xml-rs handle the case where i:nil=true is set? I expect

[2018-08-10 08:58] xoac opened #74 "Add suport for #[serde(deny_unknown_fields)]"
Hi,
[code]
And I got an error:
[code]

So it's looks like a line `#[serde(deny_unknown_fields)]` is ignored.

[2018-08-16 12:49] xoac commented on #74
Look like I used `deny_unknown_fields` exactly opposite I want :)

[2018-08-16 12:49] #74 closed

[2018-08-25 09:59] ebkalderon opened #76 "Cannot serialize sequence of tags"
I was using `serde-xml-rs` with the [`vkxml`](https://github.com/terrybrashaw/vkxml) crate in one of my projects, and although the structures it exposes implement `Serialize`, the serialization fails due to `serialize_seq()` not being supported in `serde-xml-rs`, as described in [this code block](https://github.com/RReverser/serde-xml-rs/blob/551c78d155cac89815e28d0f36a87029a8bf2a62/src/ser/mod.rs

[2018-09-18 11:19] cetra3 commented on #55
@e-oz I've provided working code as above.  It's not an issue with this crate, just how serde works.  You can always implement a custom deserializer as well.

[2018-09-18 11:30] cetra3 commented on #55
@e-oz You can use `serde` to deserialize data, you just need to instruct it how to construct your struct.  Examples are given for [map](https://serde.rs/deserialize-map.html) and [struct](https://serde.rs/deserialize-struct.html).

But if you are using the `serde_derive` crate, then you will need to conform to what shape it expects the data in, but it will deserialize.  If you tried the same thing

[2018-09-18 11:35] e-oz commented on #55
@cetra3 thank you for trying to help me.

[2018-10-01 17:49] pingiun opened #78 "Non matching serde version compatibility"
The README currently reads "xml-rs based deserializer for Serde (compatible with 0.9+)", while the project description says "xml-rs based deserializer for Serde (compatible with 1.0+)"

[2018-10-28 22:04] jrmiller82 commented on #76
It's because it's a *de*serializer only as of now.

[2018-11-04 17:43] dtolnay opened #80 "Write crate-level documentation and examples"
https://docs.rs/serde-xml-rs/0.2.1/serde_xml_rs/ needs a more helpful landing page.

[2018-11-16 16:58] git-blame opened #81 "Deserialize Enum Generate Empty Vectors"
Given structured data as follows:
[code]
The following code can deserialize it as structures but not tagged enums. Using version 0.2.1 from crates.io/cargo:
[code]

Output:
[code]

[2018-11-16 16:59] git-blame commented on #81
This may be related to #26

[2018-11-20 09:48] flying-sheep commented on #76
It does have a serializer implementation, albeit limited. If I can help to get the ball rolling, I will!

[2018-11-22 17:02] git-blame opened #82 "Cannot Deserialize Recursive Elements"
For example, consider a directory which can contain directories and files. We try to declare recursive enum and struct:
[code]

* A recursive enum will correctly decode but only for 1 level. That is, the `$value` is not found by deserializer for child elements.
* A recursive struct will correctly decode but **only if** there is no text. If there is text, there is an error. Furthermore, the type of

[2018-11-22 17:03] git-blame commented on #82
Example output:
[code]

[2018-11-22 21:38] adetaylor opened #83 "#[serde(flatten)] incompatible with $value"
This test case results in ``Error(Custom("missing field `$value`")``:

[code]

The reason is this code in serde_derive's ``deserialize_struct``:

[code]

``#[serde(flatten)]`` causes the generated deserialization code to call ``deserialize_map`` which does not have access to the field names in `FIELD` and thus can't spot the `$value` and give it special handling.

I'd be keen to fix this but I nee

[2018-11-29 21:52] Dushistov opened #84 "Is this project still alive?"
There are a lot of outdated dependencies plus bunch of PRs,
it is still maintained?

[2018-11-29 22:01] RReverser commented on #84
Not much really (by myself): https://github.com/RReverser/serde-xml-rs/issues/65#issuecomment-384269765

[2018-12-03 21:37] punkstarman commented on #65
@RReverser, I am interested in taking over. I think that the lack of good XML ser/de for Rust is a gaping big hole. Even if JSON, YAML and others are taking over, XML will still be around for a while.

[2018-12-04 03:15] martinlindhe opened #85 "Empty fields dont use default"
I expect the following code to populate val with the default value (0) since its an empty tag,
instead it gives error `panicked at 'called `Result::unwrap()` on an `Err` value: expected an integer'`

[code]

[2018-12-19 20:38] RReverser commented on #65
@punkstarman Sorry for missing your response! Let me invite you to the repo.

[2018-12-19 20:45] punkstarman commented on #65
Thanks.

[2018-12-19 20:47] punkstarman commented on #65
@RReverser, over the next few weeks, can you share with me any guidelines/pointers as to how you have been running this project?

[2018-12-26 17:57] jimrybarski commented on #53
I was able to use [serde-xml-any](https://crates.io/crates/serde-xml-any) as a drop-in replacement for this repo, and since it's published on crates.io with #20 fixed, I could publish my crate finally. I don't know how universal this solution will be but I hope it helps.

[2018-12-26 18:46] Dushistov commented on #53
@jimrybarski

Hmm, @RReverser gives access to this repo to @punkstarman, see #65.
May you can cooperate with @punkstarman ?

[2018-12-27 19:36] punkstarman commented on #53
I have access to this repo, but I am not an owner of the crate on crates.io
The owners currently are @RReverser and @oli-obk.

[2018-12-27 20:49] RReverser commented on #65
@punkstarman Does "poorly" work as an asnwer? :) On a serious note, I'm happy to review and discuss ideas etc. but right now @dtolnay's reasoning in https://github.com/serde-rs/serde/issues/1446#issuecomment-448893465 sounds good to me.

Initially, when I received the first PR for serialiser, I was hoping for proper roundtrip support (and ideally I'd still expect it for any serialiser changes), bu

[2018-12-27 20:51] RReverser commented on #53
@punkstarman I've sent you an invite on crates.io too now.

[2018-12-28 08:36] punkstarman commented on #65
OK, no problem. So I suggest that once we're into 2019 at which point I will have time again to contribute, I will just start hacking away.

I wouldn't mind being added as an owner of the crate on crates.io so I can publish new versions.

[2018-12-28 08:39] punkstarman commented on #53
Thanks :+1:

[2018-12-28 11:19] RReverser commented on #65
SGTM, just please be careful with breaking changes / semver, and also let's not commit to 1.0 in foreseeable future until we have a clearly stable vision and APIs.

[2019-01-07 14:51] punkstarman commented on #65
Done.

Version 0.3.0 has been tagged and published to crates.io.

[2019-01-07 14:51] #65 closed

[2019-01-07 14:52] punkstarman commented on #53
Version 0.3.0 has been released on crates.io

see #65

[2019-01-07 14:52] #53 closed

[2019-01-10 05:56] estk commented on #84
@RReverser if you're not feeling like you have time or space to maintain the project, have you considered putting out a call for participation in rust weekly for a new owner of the project? I think its an important part of the rust ecosystem and it would be a shame to see it neglected. Its a testament to your excellent work that it's more successful than you have time for!

[2019-01-10 06:48] Dushistov commented on #84
@estk

He already did it. See https://github.com/RReverser/serde-xml-rs/issues/65#issuecomment-451959228

[2019-01-15 19:38] punkstarman commented on #61
I think that this library will stick `xml-rs` for the foreseeable future.

Feel free to initiate another project leveraging `quick-xml`.

[2019-01-15 19:38] #61 closed

[2019-01-27 18:51] estk opened #92 "Unable to access the xmlns values"
I'm writing a code generator for xml-schemas and I'm in the process of trying to sort out the namespace that an element or type may be associated with. Unfortunately without access to the xml namespace information from an xml document I'm unable to do this. I could implement a custom deserializer, but I figured it would be better to fold the work in here.

I was thinking a nice way to do this woul

[2019-02-01 05:38] estk commented on #92
@punkstarman To clarify, I am building that model which is a pre-requisite of the code generation project. Ideally I would be able to derive the ser/de code necessary with this project. It would be an awful lot more work to write all of that custom deserialization code, but perhaps you're right about the tight coupling. The reason I was under the impression that it would belong here is that someho

[2019-02-12 10:56] Dushistov opened #96 "New release?"
Since there are several dependencies updates and fixes,
is it possible to make new release?

rust code compilation is very slow, so build things twice, like for example log 0.3 and 0.4 is not fun.

[2019-02-13 20:42] punkstarman commented on #96
Yes it's coming.

[2019-02-13 20:48] punkstarman commented on #96
I just pushed version 0.3.1 to crates.io

[2019-02-13 20:48] #96 closed

[2019-02-14 09:02] gilescope opened #97 "Can we get readme updated to Rust 2018?"
We no longer need to say macro_use.

[2019-02-14 11:15] RReverser commented on #97
Many people still use Rust 2015 edition and older versions of Rust. I strongly believe it's better to provide examples that are accessible to larger number of people and work in any edition.

[2019-03-11 13:07] nicrosengren opened #98 "Rename creates additional elements"
I try to create a wrapper for Soap messages. To do that I need the ability to have different structs for headers and body.
The end goal is to let the body be an enum since in the protocol I try to implement the body field names dictate the message type.

Using the below implementation I expect the result
[code]

However, I receive:
[code]

The name of the struct in the field I just renamed is incl

[2019-03-17 15:58] Jonesey13 commented on #55
Just to say this bit me as well. For reference for those reading this up in future here's a tldr:
* There were discussions for customizing duplicate handling (https://github.com/serde-rs/serde/issues/690) but for some reason this was de-scoped from the project and no workaround is available atm (to my knowledge)
* Because serde-xml-rs does not load the document in memory (it reads it as a stream),

[2019-03-19 14:16] nkypy opened #99 "serialize enum error"
[code]
return result error
[code]

[2019-03-29 13:10] TatriX commented on #64
I've encountered a problem with wordpress xml which has
`content:encoded` and `excerpt:encoded` tags. I'm getting:
[code]
See https://gist.github.com/iwek/3977831

[2019-03-29 13:13] TatriX commented on #64
I did a workaround for now:
[code]
Though it's not very reliable.

[2019-04-27 07:33] ignatenkobrain opened #101 "serde_xml_rs::Usage fails"
[code]

[2019-04-28 09:26] punkstarman commented on #101
I cannot reproduce this on my machine or in CI with the current state of `master`. However, I have encountered this problem during CI builds when a new version of Rust is released. The first workaround was to clear the build cache. The automated workaround was to add a `before_cache` clause in the CI script (https://github.com/RReverser/serde-xml-rs/blob/master/.travis.yml#L7-L9).

BTW, in future

[2019-04-28 09:27] ignatenkobrain commented on #101
Sorry for not including commands...

It was basically `cargo build --release && cargo test --release`

[2019-04-28 09:29] ignatenkobrain commented on #101
@cuviper, what could cause that rust builds another rlib file when running `cargo test`?

[2019-04-30 16:22] cuviper commented on #101
Wild guess, it may be that some dev-dependencies enable more features on the regular dependencies, causing `serde_xml_rs` to rebuild to pick that up.

[2019-05-06 19:34] lochbrunner opened #102 "Does dont serialize Vec<Box<T>>"
I tried to create a simple svg dumper:

[code]

## Actual

This creates the following output:

[code]

Which is not even valid xml.

## Expected

[code]

[2019-05-14 21:48] bbigras commented on #67
Any progress on this bug?

[2019-05-15 11:39] punkstarman commented on #67
This crate is dependent upon support in `xml-rs`, see netvl/xml-rs#10.

[2019-06-04 12:01] Dgame opened #103 "#[serde(flatten)] generates unnecessary $value"
Consider this piece of code:
[code]

I would've expected the following output:
[code]

but instead I get this:

[code]

Although there are no attributes for the tag "Vorname" it's converted to an object/map with $value as key. Is that intended? It's not compatible with e.g. serde_json:
[code]
 it will print an error:

[2019-06-06 09:23] punkstarman commented on #103
First of all, `serde(flatten)` doesn't work in that way. It flattens the serialized representation not the deserialized one. See https://serde.rs/attr-flatten.html

Secondly, the problem with the last code block isn't in the `Vorname` tag but the `Name` tag. When deserializing the XML string to the `serde_json::Value` type, `serde_xml_rs` doesn't know that the contents of the `Name` tag should be

[2019-06-06 09:49] punkstarman commented on #102
@lochbrunner could you please provide a more complete code example that compiles.

For example, in the `main` function:
- the function is closed prematurely with a `};` just after setting the `text` variable.
- when defining `document`, the `childs` field is supposed to have type `Vec<Box<Node>>` but `vec![text]` has type `Vec<Node>`.
- `path` is undefined.
- the `?` operator cannot be used in thi

[2019-06-06 12:38] Dgame commented on #103
My point is, since there are no attributes, it shouldn't be serialized as an object. Currently I'm using _quickxml_to_serde_ to avoid this problem:
[code]

will print

[code]

As you can see, _Name_ and _Vorname_ are correctly interpreted as String. If that is not intended by your lib, then closing this issue was correct. But I do believe that der result of _quickxml_to_serde_ is what most users w

[2019-06-11 19:49] punkstarman commented on #103
Sorry, I was thrown off by the mention of `serde(flatten)`. In order to avoid further confusion, I will edit the title of this issue.

After further testing, it would appear that `serde_xml_rs` generates `$value` fields in cases where this would be avoidable.

[2019-06-14 20:37] fusillicode opened #105 "Error(Custom("missing field `xmlns:soap`"), State { next_error: None, backtrace: None })"
Hi, I'm facing a strange issue trying to deserialize this XML string:
[code]
The error I'm getting is the following one:
[code]
This is the actual code:
[code]
I've tried to add additional container renamings to the `SoapBody` struct but nothing changed :(

What am I missing?

[2019-06-17 20:03] punkstarman commented on #105
This project doesn't support specifying the namespace of a tag. When deserializing, tags are stripped of any XML namespace. Thus, `soap:Envelope` becomes `Envelope`.

The following type definitions work.

[code]

BTW:

* You're XML code contains a typo since the `anaNumber` tag is not closed
* The error reported in the title of this issue is not the one reported in the description. It is possibly

[2019-06-17 20:03] #105 closed

[2019-06-18 05:00] fusillicode commented on #105
I'm deeply sorry for the inaccuracies of my issue. I know that it's not an excuse but just to give a little bit of context I opened it late at night and quite a lot of errors slipped in while I tried to "sanitize" both the XML snippet and the code.

I promise I will take extra care next time.

Thanks a lot for taking the time to answer even if the issue was malformed.

Sorry once again and thank y

[2019-06-18 07:19] punkstarman commented on #105
@fusillicode don't worry. We're all just trying to help each other and contribute to the community.

Thanks for taking the time to submit an issue. There are no bad questions. It's all part of being a community :+1:

[2019-06-18 07:26] fusillicode commented on #105
@punkstarman you're too kind 🙇‍♂️

Persons like you are what makes a community great. Thanks again!

[2019-07-17 19:36] jottabyte opened #106 "Ampersand in String Breaks Deserialization"
The following xml snippet parses perfectly:

\<game venue="Generic" game_pk="239523" venue_id="401" venue_w_chan_loc="USNY0996" home_team_link="/clubs/index.jsp?cid=t2412" box_link="/milb/stats/stats.jsp?gid=2008_06_10_dinrok_dacrok_1" />

However, if we add an "&" into the url to something like this:
\<game venue="Generic" game_pk="239523" venue_id="401" venue_w_chan_loc="USNY0996" home_team_link

[2019-07-17 21:02] punkstarman commented on #106
This error comes directly from xml-rs when parsing the document. This is correct behavior given the following excerpt from the XML specification.

(see https://www.w3.org/TR/xml/#syntax)

From what I understand, the document is ill-formed. You will have to petition MLB to conform to the norm. Or as a workaround, you should replace `&` with `&amp;`.

[2019-07-17 21:02] #106 closed

[2019-07-17 21:07] jottabyte commented on #106
That makes a lot of sense. Your workaround works perfectly. Thanks for the quick response!

[2019-07-18 09:26] punkstarman commented on #106
I'm glad to help 😉

[2019-07-25 22:34] Stargateur opened #107 "Can't parse simple case"
[code]

with

[code]
fail with:
[code]

I believe it the same issue than https://github.com/RReverser/serde-xml-rs/issues/103. But can't know for sure.

If I do `let dataset: DataSet = from_str(error).unwrap();`

[code]

Note that doing `let dataset: serde_json::Value = from_str(error).unwrap();` give:

[code]

Where is `DataSet` ?

[2019-07-26 17:04] punkstarman commented on #107
The document can't be deserialized because the root tag is missing. The error message can be misleading because the name of the root tag is never checked by the deserializer. The following code works.

[code]

This is in line with the documentation (see example in [README](https://github.com/RReverser/serde-xml-rs/blob/master/README.md))

Concerning how the document is parsed to a JSON value, JSON

[2019-07-26 17:04] #107 closed

[2019-07-26 17:08] Stargateur commented on #107
Oh I see my bad, I don't use xml.

But the exemple, use `Project` if the first get ignored why `let dataset: DataSet = from_str(error).unwrap();` doesn't work too ? This was the first thing I did.

[2019-07-26 17:25] punkstarman commented on #107
The root tag isn't ignored. It must be there for the rest of the document to be deserialized. The name of the root tag isn't checked.

For instance, the following code also works.

[code]

[2019-07-26 17:28] Stargateur commented on #107
Yes I understood that but why this doesn't work:

[code]

[code]

Obviously this should work no ?

[2019-07-26 18:14] punkstarman commented on #107
Yes, `enum`s are handled differently.

The following works.

[code]

[2019-08-08 07:31] toplinuxsir commented on #81
Yes, It dose not work !
can not deserialize enum list

[2019-08-22 18:47] andreivasiliu opened #108 "Serde via quick-xml"
Re: https://github.com/RReverser/serde-xml-rs/issues/61 - does that decision still hold?

A while ago I managed to hack my way through serde-xml-rs, and made it work with quick-xml, which sped it up tremendously; it wasn't pretty, and it didn't have a serializer, so I didn't open a PR. But now that I want a fast serde parser again, I'd be willing to clean and finish it up.

The way I did it was to

[2019-08-26 19:13] jottabyte opened #109 "Deserializing Enums Lose Type Conversion"
I have an xml snippet that deserializes properly. However, this needs to be abstracted behind an enum, since we have a structure like:
[code]

The enum looks like this:
[code]
When behind this enum, I get an error invalid type: String, expected: f32 which implies it's no longer doing automatic type conversion. The enum is correctly routing the deserialization, but it appears to have lost the abili

[2019-08-26 19:41] punkstarman commented on #109
@jottabyte, could you please post the code for the type that represents `atbat` tags and for types `Pitch` and `Runner`?

Also, you say that the XML snippet deserializes properly. Could you post the code that works in order to have a point of comparison?

[2019-08-28 10:49] punkstarman commented on #109
I will analyze this a little more, but as far as I can see, the problem stems from the fact that `serde` itself doesn't deserialize `Pitch` the same way depending on whether it is wrapped in the enum or not.

[2019-08-28 19:26] punkstarman commented on #109
Thank you for offering but I think it is best if I file the issue once I am sure of my analysis.

[2019-09-02 14:28] punkstarman commented on #109
After further analysis of the code produced by `serde-derive`, I have come to the conclusion that there is no issue to be filed with `serde`.

Given that you have chosen to internally tag the enum `PitchOrRunner`, the derived implementation must parse all attributes of `pitch` and `runner` tags using `deserialize_any` because the position of the attribute used as a tag could be anywhere.

What you

[2019-09-02 14:28] #109 closed

[2019-09-02 14:47] jottabyte commented on #109
That works! Thank you! Really appreciate the help.

[2019-09-06 09:35] Dawen18 opened #110 "How to deserialize differents elements in one vector"
Hi, I have this XML

[code]

`<content>` is a child of an other tag but for more readability not appears above.

I need to deserialize `text`, `image` and some other tags in one same vector and keep order like in xml file. I don't understand how to do this.

I've tried with enum but I can't put them in the same vector.

Thanks for your help.

[2019-09-06 09:40] punkstarman commented on #110
I think this is very similar to #109. As well as using an enum, you need to rename a field on the type that represents `content` to `$value`.

[2019-09-06 10:42] Dawen18 commented on #110
Of course it works with `$value`

Sorry I've missed this in documentation.

Thanks a lot.

[2019-09-06 10:42] #110 closed

[2019-09-06 11:10] punkstarman commented on #110
No problem. I'm happy to help :smile:

[2019-09-10 11:38] punkstarman commented on #108
I believe that the decision still stands.

Maybe @RReverser, you would like to weigh in on this?

[2019-09-10 14:21] Bindernews opened #112 "#[serde(flatten)] broken when field isn't String"
## Problem
I'm trying to deserialize TMX files both from JSON and XML, so I made a struct of common fields and used `#[serde(flatten)]` to include the common fields in both my JSON and XML structures. It works fine for JSON, but I get the error `Error(Custom("invalid type: string \"3\", expected isize"), State { next_error: None, backtrace: None })`. It's not correctly detecting that the string "3

[2019-09-10 19:11] punkstarman commented on #112
Without at least a minimal example of code showing what you are trying to accomplish, I will have a hard time helping.

I can suggest that you investigate whether the problem is on the side of this crate or of `serde-derive`. One thing that I have found helpful is printing the code that `serde-derive` generates.

[code]

Using the `--test`, `--bin` or `--lib` options restricts compiling to only ce

[2019-09-12 00:46] Bindernews commented on #112
I'll post a minimal example once I have some time to trim down the code. I'll also take a look at the generated derive code, you may be correct.

[2019-09-20 19:07] Bindernews commented on #112
After some digging it seems that serde generates a `deserialize_map` call when including `#[serde(flatten)]` fields. Since all XML fields are strings by default and `serde-xml-rs` doesn't try to parse any attributes into integers, floats, etc., it builds a map of names to String values, which then causes errors when it calls `visit_string`.

If `serde-xml-rs` were to try to guess the attribute typ

[2019-09-30 07:51] punkstarman commented on #112
Guessing datatypes doesn't seem appropriate since XML itself only specifies character based literals: strings, character references, entity references. Unlike YAML or JSON, in XML the only way to distinguish the string 12345 from the number 12345 is to apply a schema.

[2019-09-30 11:01] alexschrod opened #113 "More helpful error messages"
I'm deserializing an XML file into structs, and it's working beautifully, but when the XML file doesn't match the expected format, the errors only say something like "custom: 'missing field `name`'" Gee, thanks, that'll surely help me figure out which specific element was missing that attribute in my 7 MiB large file.

If it is at all possible, it would be very helpful to be told something like wh

[2019-09-30 11:42] punkstarman commented on #113
Great suggestion. I'll look into it.

[2019-10-03 05:32] alexschrod opened #114 "serde(with = ...) not supported on optional fields?"
I have a field that is sometimes missing, and otherwise it has to be parsed to bool from either "1" or "0". This particular requirement isn't natively supported by serde, so I had to implement my own deserialize function. The field looks like this:
[code]
I believe what I'm reporting to be a bug with serde-xml-rs and not serde itself, because the behavior that I'm trying for here is supported by s

[2019-10-03 06:11] alexschrod commented on #114
By happenstance, I noticed that support for this particular idea had been added in [one of the latest commits](https://github.com/RReverser/serde-xml-rs/commit/e6bf15ae703ff8eb76143d1dcecc445b78e53e07), but had not made it to a release on crates.io, so I just set my dependency to this git repo for now. Still, I think this is an issue that should be resolved in general, because I imagine it'll be a

[2019-10-03 07:31] alexschrod commented on #114
And one more update, because the built-in implementation is bugged. This attribute: `autoEnter="0"` when marked as `bool` is read in as `true`. So I had to switch back to my `zero_one_bool` deserializer to get it to work right... but that still leaves me with my `zero_one_bool_option` being broken due to the problem reported originally. *sigh*

[2019-10-03 07:48] punkstarman commented on #114
Thank you for submitting this.

PR #111 solves the bug you mention with parsing booleans in attributes. I am trying to find the time to review it. The commit you referred to only handled an element's contents.

I agree that this issue is more about fixing the general case, which should be done.

[2019-10-09 14:27] apiraino commented on #113
@alexschrod rather than specific to `serde-xml-rs` that's an issue of `serde` and that's a common complain, oftentimes error messages are vague, to say the least.

But here's [Serde path to error](https://github.com/dtolnay/path-to-error) to the rescue!

Basic example usage (copy-pasted in a hurry from a project of mine and not really tested):

[code]
---
[code]

The tool is not perfect but it giv

[2019-10-09 16:46] apiraino commented on #64
Hello,

stumbled on this issue. Another way to reproduce is also an XML such as:
[code]
so no suggested workaround works (using serde `rename` or parsing the field [as an array](https://github.com/RReverser/serde-xml-rs/issues/64#issuecomment-477992884)).

Can you advice on the suggested way to cope with this without touching the source XML? Sadly, I'm already thinking to pre-process the XML [as s

[2019-10-09 19:33] punkstarman commented on #64
The problem is that this library has very limited support for namespaces. The deserializer will ignore the namespace. The serializer is currently incapable of generating a document using namespaces.

@apiraino, are you sur that the `title` field is really filled using your workaround? I think that it will always contain the default value which is an empty string.

[2019-10-09 21:50] apiraino commented on #64
hey @punkstarman thanks for thre reply. Damn, you're right the field is set to a default empty string ( I was confused by too many fields).

Besides the lack of support for namespaces (which is a feature), the real issue I see is that the parser panics when a tag with namespace is found. is there a way to avoid this? I'd avoid to pre-process the XML.

I hope that this library lifecycle will move f

[2019-10-10 16:09] spease commented on #64
This seems like it should be an error rather than a panic. An application could recover from it.

[2019-10-11 08:24] punkstarman commented on #64
@spease , panic was a poor choice of words. It is in fact an error (for example see https://github.com/RReverser/serde-xml-rs/issues/64#issuecomment-477991946).

[2019-12-02 03:14] hybrisCole opened #115 "Issue with special character"
Hello,

So I have this xml node:
<Nombre>José</Nombre>

but I'm receiving it on the rust side as "JosÃ©".

Is there a workaround/solution to work with these special chars?

Thx

[2019-12-04 09:00] punkstarman commented on #115
@hybrisCole , thank you for submitting this issue.

Can you please provide more details. The relevant parts of your source code and a copy or extract of the file would be useful.

If you have time, a minimal example reproducing the bug would be even better.

[2019-12-05 10:10] Paulswith opened #116 "how to parse non-tuple struct"
I have a XML data like this:
[code]

As I understanding, I define a struct below:
[code]

but the result is:
invalid type: map, expected tuple struct ResponseWrap

[2019-12-07 12:13] punkstarman commented on #116
Thank you for filing this issue.

The `ContentWrap` structure is in a newtype struct because the constructor takes only one argument. The constructor of a tuple struct takes two or more arguments and that of a unit structs takes no arguments.

It appears that there is a bug in the handling of newtype structs. I will submit a pull request to fix this.

[2019-12-13 14:15] #116 closed

[2019-12-15 14:01] #108 closed

[2019-12-15 14:03] #102 closed

[2019-12-15 14:06] #112 closed

[2019-12-19 00:30] TedDriggs opened #118 "serde_xml_rs::Error incompatible with anyhow crate"
On v0.3.1, I'm trying to use this crate with `anyhow`, which provides a good catchall way of handling errors. It fails with this:

[code]

I think this is due to the internals of `error-chain`, but I tried turning off backtraces and that didn't fix the issue for me.

[2019-12-25 02:35] dtolnay commented on #118
Error-chain produces errors that are not Sync even when all your error variants are Sync: https://github.com/rust-lang-nursery/error-chain/issues/240. Probably the best way to fix this at this point would be to stop using error-chain.

[2019-12-28 05:02] cole-acepph commented on #115
Hi,

Sorry about it, just found out that my issue is when I'm parsing email contents.

Not related to serde-xml-rs.

Regards,

[2019-12-28 05:03] hybrisCole commented on #115
Hi,

Sorry about it, just found out that my issue is when I'm parsing email contents.

Not related to serde-xml-rs.

Regards,

[2019-12-28 05:03] #115 closed

[2020-01-05 23:25] andrey-yantsen commented on #112
For future generations: you can use [serde_aux::field_attributes::deserialize_number_from_string](https://docs.rs/serde-aux/0.6.1/serde_aux/field_attributes/fn.deserialize_number_from_string.html) as creepy workaround for numeric types.

[2020-01-12 12:40] #118 closed

[2020-02-13 04:58] sezna commented on #99
I am also blocked by this error.

[2020-02-13 08:40] punkstarman commented on #99
The serializer supports very few constructs.

In order to better understand the issues, I had dabbled in my own spin-off which got promising results (https://github.com/punkstarman/serde-xml). I have tried to port these ideas several times but have hit a wall due to some of the design decisions on the deserializer.

I feel as though, in order to maintain that the serializer and deserializer form a

[2020-02-13 18:56] JRAndreassen commented on #82
I have the same issue with:
<?xml version="1.0" encoding="UTF-8"?>
<ValueLookup id="123">
 <Lookups>
  <item state="None" value="0"  >Unknown</item>
  <item state="Ok"   value="1">It fails on this value</item>
 </Lookups>
</ValueLookup>

    UnexpectedToken(
        "XmlEvent::EndElement { name, .. }",
        "StartElement(SingleInt, {\"\": \"\", \"xml\": \"http://www.w3.org/XML/1998/namespace\",

[2020-02-18 08:59] xoac commented on #63
I don't use this crate anymore. Was the master published in some version and can we close this issue?

[2020-03-10 16:09] m-doughty opened #123 "Release with thiserror?"
The library was updated to use `thiserror` a couple of months ago, but there's no crate release with this functionality (and `Sync` error support).

Please could we get a release with this support turned on?

[2020-03-10 20:38] RReverser commented on #123
@punkstarman Do you want to take care of this or are there other breaking changes in the pipeline to combine into a new release first?

[2020-03-10 21:22] punkstarman commented on #123
@RReverser, I can push a release tomorrow.

[2020-03-11 08:09] punkstarman commented on #123
Done :heavy_check_mark:

[2020-03-11 08:09] #123 closed

[2020-04-07 19:36] Ten0 opened #124 "Tests broke on minor update of xml-rs"
Specifically `test_doctype_fail`.
There's also another one that doesn't pass, related to readme, on my machine.

[2020-04-09 13:47] punkstarman commented on #124
@Ten0, thank you for filing this issue.

Could you please give a few more details as to what minor update you did? Is your code perhaps on a public git repository?

[2020-04-09 14:15] Ten0 commented on #124
I mean semver minor update. That is, xml-rs moving from version 8.0 to 8.y , y>0

[2020-04-09 14:55] punkstarman commented on #124
Thank you for the details :+1:

[2020-04-15 16:33] thirtythreeforty opened #125 "How do I serialize a $value tag with a keyword name?"
My XML (which I cannot change) looks like this:

[code]
My struct looks like this:
[code]

What is the correct way to specify that I want the `$value` of the `<type>` tag?  It is of course illegal to name a field `type`.

[2020-04-15 18:30] thirtythreeforty commented on #125
It seems the correct struct is:

[code]

and the sub-tag is handled the way I want.

[2020-04-15 18:30] #125 closed

[2020-04-18 19:07] timgabets opened #126 "Serializing nested structures"
I've got a problem with serializing nested structures (the struct inside of another struct):

[code]

The problem is that after serialization there's two header tags (but I'd like to get one):
[code]
Is there any ideas on how could I get something like this?
[code]

P.S. Sorry, I'm not quite sure whether it's a serde-related bug/feauture or it's serde-xml-rs specific

[2020-04-20 22:38] ralpha commented on #55
Because I came across this issue multiple times now, I have tried to solve it.
I first tried using the Enum example above, but this had other limitation that I could not work around and it made the code look terrible.
So I implemented my own deserializer. And got it working! :smiley:
I also tried implementing a derive macro. And after a lot of trail and error I got it working.
The result is not pr

[2020-04-21 22:41] ralpha commented on #5
This looks to be the same problem as:
Repeated, Interleaved Tags are not working currently with serde.
I made a proof of concept that will solve this. But it is not stable in any sense.
https://github.com/RReverser/serde-xml-rs/issues/55
https://github.com/serde-rs/serde/issues/1725
https://github.com/ralpha/serde_deserializer_best_effort

[2020-04-23 14:23] punkstarman commented on #55
@Jonesey13 and @ralpha, thank you for these contributions to the discussion.

Please, would you mind contributing example schemas or documents?

[2020-04-23 23:06] ralpha commented on #55
@punkstarman Could you be a bit more specific? What part would you like me to clarify?
I looked even more into this and see that the problem is pity hard-coded into the serde crate.
So I think it should be changed there. (with possible changes here afterwords depending on how this is solved).

I put a longer and more detailed explanation of how this could be solved here: https://github.com/serde-r

[2020-04-25 10:26] Niedzwiedzw opened #127 "weird nested/multivalue xml parsing behavior"
hey, so here's the example xml I'm working with.
[code]

problem is the Entity > Fields should be a list of Field if I understand correctly, meanwhile only the first one is parsed
[code]
Is this behavior intended? If not is there any way I can help to support that? This would save my project from a very slow and painful death :D

[2020-04-25 14:56] punkstarman commented on #55
@ralpha, the examples you and others have provided are all minimalistic unless I have overlooked something. This is great for reproducing the problem and checking whether it has been addressed or not, but it makes it difficult to convince that the problem is valid.

My difficulty currently is that I cannot find a compelling real-world use case where deserializing as an enum is unwarranted.

One ca

[2020-04-25 16:54] ralpha commented on #55
Okay, I'm deserializing xml data that was created by an other program that is outside my control, so I can not change the data or structure it gives me. (and there are multiple versions of the software that give slightly different exports)

The program that deserializes the data (that I'm creating) is going to be used by clients that have there own export from the program. They can input there xml

[2020-04-25 18:12] Niedzwiedzw commented on #127
right so it's because it keeps overriding the same "Field" as this is it's main identifier, this format is messed up ehh

[2020-05-03 19:15] #127 closed

[2020-05-03 19:16] Niedzwiedzw opened #128 "Panic at serde_json's Value serialization"
https://github.com/Niedzwiedzw/serde-xml-rs/blob/f1f9f362cc0c8df4d745b5fac930ba3f0ef36c56/tests/test.rs#L183 right so this is a showcase of a panic, @RReverser is this behavious intentional?

[2020-05-05 11:21] Jonesey13 commented on #55
@punkstarman The use case I was working against was for parsing SVG files. For example when generating SVG in inkscape it's quite common to output interspaced <rect> and <path> elements.

Your point about the ordering of the elements is a very good one and tbh I can't think of a good counterpoint (as it's also important in the SVG case like it is with HTML; technically you could argue layers shoul

[2020-05-07 21:12] Plecra opened #130 "Cannot round trip through serde"
Here's a minimal example:

[code]

[2020-05-09 14:40] punkstarman commented on #130
Yeah, I think that this is not the only example.

@dtolnay, once told me that round-tripping wasn't all that useful in practice.

@Plecra, what is your motivation for requiring this?

[2020-05-09 14:42] punkstarman commented on #128
@Niedzwiedzw, the serializer is quite simply lacking support for a lot of cases.

With the lockdown, I don't have much time to devote to much besides family and my day job.

I will see what I can do soon.

[2020-05-09 23:00] Niedzwiedzw commented on #128
I've opened up a PR for my solution, I guess its good enough

[2020-05-10 01:07] ralpha commented on #55
Well seems like it is not getting fixed in Serde: https://github.com/serde-rs/serde/issues/1725#issuecomment-626243415
And as it is currently hard coded in `serder_derive` It is probably not going to be fixed there unless serde is forked and changed for XML. Which sadly splits the ecosystem a bit.

[2020-05-10 12:32] Plecra commented on #130
Any communication between users of this crate would require the data to properly round trip through the serialised format. That might be saving a collection to disk, or sending a packet over the network.

It's also a big factor in usability - the user might be interacting with some API that has a `Bar` type in their data model, and if you can't rely on serialisation and deserialiaation behaving th

[2020-05-14 18:55] punkstarman commented on #130
@Plecra, I agree with you.

[2020-05-14 19:05] punkstarman commented on #55
@ralpha

Someone already did this, see https://github.com/media-io/yaserde.

I don't believe that this is technically possible.

I think that packaging a custom deserializer in its own crate would be the way to go.

With regards to this problem, I don't see how anything can be done in the `serde-xml-rs` crate. The `serde` and `serde_derive` crates paint us into a corner and were never really desig

[2020-05-22 15:34] sapessi commented on #55
I'm trying to use enums to parse a WSDL definition that has body/headers in the wrong order (example below). It seems that the parser fails to successfully close to element or "peek" at the next one. Have you encountered this before?

## XML sample
[code]

## Rust structs
[code]

## Log output
[code]

[2020-05-24 12:46] punkstarman commented on #55
@sapessi, I can reproduce this with the current version. I'm looking into how to fix this.

I'll also see when this bug was introduced because to my recollection this used to work.

[2020-05-24 13:24] punkstarman commented on #55
@sapessi, actually the only problem is maybe the error message.

The solution is to modify the type definitions to the following.

[code]

[2020-05-30 08:20] VilNeo opened #131 "Problem with 'untagged'"
Hello,

I try to read an element list via an untagged enum. Unfortunately, I end up in the error "Custom { field: "data did not match any variant of untagged enum Foo" }" everytime.
Are untagged enums supported by serde-xml-rs? What am I doing wrong here?
Here is an example running into the issue:
[code]

Best regards
Alex

[2020-06-22 12:03] lovasoa opened #132 "parse the tag name as a string"
Hello, and thank you for this great library;
  I am trying to parse xml that looks like :

[code]

Ideally, I would like to be able to have a single rust struct for all shapes, instead of an enum with repeated fields. I would like to be able to write :

[code]

Is it possible ?

[2020-06-22 13:19] punkstarman commented on #132
Not without writing your own deserializer or relying on a library to customize deserialization. I don't know of a library that does what you want.

The following option reduces the amount of repetition.

[code]

[2020-06-22 13:52] lovasoa commented on #132
Ok, thank you for your answer !

[2020-06-22 13:53] punkstarman commented on #132
No problem. I'm happy to help :smile:

[2020-06-22 13:53] #132 closed

[2020-06-23 22:40] lovasoa opened #133 "Recursive enum parsing fails with "missing $value""
Hello,

I am trying to parse a structure which has the following format

[code]

I would expect the following struct to be able to parse the structure :

[code]

But it fails, saying that the attribute `$value` is missing.

[2020-06-23 22:42] lovasoa commented on #133
My current workaround is to use

[code]

It works, but is needlessly verbose.

[2020-07-08 12:45] lovasoa commented on #24
@Boscop : Hello ! I know I am 3 years late, but I stumbled upon this issue, and it looks like you were trying to parse krpano description files in rust. I am the maintainer of [dezoomify-rs](https://lovasoa.github.io/dezoomify-rs/), which also contains a (currently incomplete) implementation of the krpano xml format in rust. Can you tell a little bit more on what your project was at the time, and

[2020-07-08 14:54] Boscop commented on #24
@lovasoa Wow, I didn't know about dezoomify but it looks like a very cool project.
That project was about downloading 360° panorama/cubemap tiles and stitching them together, to be able to load them as cubemaps with glium [like this](http://onagat.hatenablog.com/entry/2017/03/24/235635).
I just looked at the code (that I haven't run since then, because I've been busy with other things, but at some

[2020-07-08 15:47] lovasoa commented on #24
Thank you @Boscop !
For google streetview images, I am not familiar with the format, but it looks like the kind of things that [dezoomify-rs's generic dezoomer](https://github.com/lovasoa/dezoomify-rs#Generic)  handles.

[2020-07-10 10:55] Mingun opened #134 "/> inside string content causes Syntax("Unexpected token: />") error"
Parsing such perfectly well-formed XML document lead to error:
[code]
XML documents with such symbols can be, for example, produced by mature XmlBeans Java library, when you serialize XML document, embedded in another XML document as string.

[2020-07-10 13:14] punkstarman commented on #134
You'll have to take this issue upstream to https://github.com/netvl/xml-rs.

[2020-07-19 18:01] Stock84-dev opened #135 "Serializing a vector fails"
Serializing struct with vector fails with:
```thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: UnsupportedOperation { operation: "serialize_seq" }```.
I see that unit tests contain vectors so it should be supported. But they are marked with ```#[ignore]```
Demo code:
[code]

[2020-07-23 16:04] elmarco commented on #135
I think this should be fixed with  #129.

[2020-07-25 13:06] kolbma commented on #85
@martinlindhe Were do you have to put this `fn val_deserializer()`?

[2020-07-25 13:11] kolbma commented on #85
Ups. Found it https://serde.rs/field-attrs.html#deserialize_with

[2020-07-29 08:27] allsey87 opened #137 "Members of flattened structs are not converted"
The following working example reproduces the problem. In a nutshell, there seems to be a problem with converting strings to the types inside `struct Inner` but only when it is flattened into `struct Outer`. These flattened members are unable to be parsed into booleans, integers etc.
[code]
This prints:
[code]
Deserialization of `struct Outer` only works when `left` and `right` are `String`. In thi

[2020-08-01 10:42] alexschrod commented on #78
How has this not been dealt with in nearly two years?!

[2020-08-05 08:26] punkstarman commented on #78
@alexschrod, I would be happy to review your pull request if you would be so kind as to lend a hand.

This open-source project, like so many others, is advanced only by the contributions of people in their spare time.

[2020-08-05 09:25] #134 closed

[2020-08-11 05:15] alexschrod commented on #78
I agree with you under most circumstances, especially when it comes to implementing new features or fixing complicated bugs; things that would require a person to sit down and figure out the project and then contribute a relatively large and satisfying "chunk" of useful code in the end.

But in this case, as an outsider, I would have to spend a comparably much larger amount of time and effort to f

[2020-08-17 17:49] mmatoszko commented on #126
I'm also experiencing this.
@RReverser @punkstarman If this is something that could use some improvement, I would be happy to work on it :smiley:

[2020-09-02 15:56] obbardc opened #138 "Serialise/Deserialise functions should sanitze xml special characters"
some characters in tags/values do not seem to be sanitized - for instance `&` should be replaced with `&amp;`

the `xml-rs` package can do this satitization.

[2020-09-02 15:58] obbardc commented on #138
ok looks like `xml-rs` package should do this.

[2020-09-02 16:05] punkstarman commented on #138
@obbardc, could you give some example code, please?

[2020-09-02 16:13] obbardc commented on #138
botched deserialize example from readme:

[code]

with Cargo.toml:
[code]

produces the output:
[code]

[2020-09-02 17:23] punkstarman commented on #138
Thanks, @obbardc.

When serializing, `xml-rs` should handle this. The problem is that `serde-xml-rs` doesn't use `xml-rs` when serializing. So that will have to change.

[2020-09-09 23:40] rapodaca opened #139 "Root element always deserializes"
Using a slight modification of the code from the README and version 0.4.0:

[code]

Output is:

[code]

I expect to see an error. I can change the `P` tag to anything and it still works.

If this is expected behavior, how can I enforce the tag `Project` at the root?

[2020-09-10 07:03] punkstarman commented on #139
@rapodaca, thank you for submitting this.

I don't think that this is expected behavior. Rather, it is a little quirk that I knew about but didn't mind.

I'll take a stab at fixing this.

[2020-09-15 22:56] tobz1000 commented on #137
I believe the problem is due to the way a struct with a `flatten` attribute is deserialised. The derived implementation will:
- When deserialising the outer type, collect all encountered key-value pairs which don't directly belong to the type ("left" and "right" in your example).
  - At this point, the field type information from `Inner` is not available. Each collected value is parsed as a `serde

[2020-09-17 14:20] Matthias-Fauconneau commented on #137
Since that was one of the issues which lead me to write a specialized XML deserializer, I thought I might mention it here.
My solution was to use #[serde(rename="")] to pass flags like flatten to be interpreted by my custom XML deserializer.
Here is an example specifying MusicXML.
https://github.com/Matthias-Fauconneau/musicxml/blob/master/src/music_xml.rs

[2020-09-18 09:25] Timmmm opened #140 "Clarify how attributes are handled"
In the Github readme you have this example:

[code]

And in the documentation you have:

[code]

It's not immediately obvious how the different styles are handled. E.g. what happens if you have this:

    <Item name="Orange"><name>Banana</name>...

If I do

[code]

Will it still decode this:

    <Item source="Orange">...

Or only this:

    <Item><source>Store</source><source>Jungle</source>...

[2020-09-18 10:03] punkstarman commented on #140
@Timmmm, good remark.

When I have time to put toward it, I am planning on fleshing out the documentation with some more detailed cases. Not in the README, but in code documentation so that it will show up on docs.rs.

At the moment, the documentation refers the developer to the tests, which aren't always easy to navigate.

[2020-09-19 17:34] tobz1000 commented on #137
This issue is also present in the quick-xml crate: [discussion](https://github.com/tafia/quick-xml/issues/226)

[2020-09-19 18:25] tobz1000 commented on #137
I think i've found a suitable workaround for this issue. I've created a `deserialize_with` function which should be applied to all primitive fields in the types being deserialized. It will attempt to deserialize as normal first, and then as a string. It will then parse the string into a char, number, or bool (with the same rules as `serde-xml-rs`):

[code]

It's just implemented in my consuming cr

[2020-09-21 01:14] lumost opened #141 "Example with EventReader?"
Would it be possible to incude an example with an event reader? It's unclear how to deserialize from an event stream between the docs here and xml-rs.

[2020-09-22 14:33] punkstarman commented on #141
It would. Thank you @lumost for the suggestion.

As a stopgap, basically the point of instantiating the `EventReader` yourself is to be able to choose the configuration options. By default, this crate activates `trim_whitespace`, `whitespace_to_characters`, `cdata_to_characters`, `ignore_comments` and `coalesce_characters`.

Once you have an `EventReader` you can deserialize using the following co

[2020-10-03 21:02] tobz1000 commented on #55
Just as a heads up, I've started work on a potential solution to this issue. I hope to have a PR in the coming weeks.

[2020-10-04 01:10] ralpha commented on #55
@tobz1000 I created this some time ago, it works but is not clean by any means. But maybe this helps: https://github.com/ralpha/serde_deserializer_best_effort
If you actually solve this problem that would be wonderful! :smiley:

[2020-10-13 08:08] martinlindhe commented on #83
This, among with #85 and various other paper cuts finally made serde-xml-rs impossible to work with for me :-(

[2020-10-23 14:45] NelDav opened #144 "Create classes from xsd schema"
Do you plan to implement a functionality to create classes from a xsd schema?
Of  course that is not the main task of a xml-serializer/deserializer.
But I think it would fit into this crate.

What do you think about this?

[xml-schema](https://crates.io/crates/xml-schema) is able to create classes from a xsd-file.
But it uses another pure xml-serializer/deserializer to serialize/deserialize the cr

[2020-11-29 08:35] or29544 commented on #50
Yes, I want to make an RSS parser and it also has namespaces. Especially when the RSS feed wants to be smart and implement both atom and rss standards in the same output...Right now serde-xml-rs will just abort deserialization complaining there are two identical fields in the XML. Yes there are, but one of them is namespaced.

[2020-12-10 10:05] MarcAntoine-Arnaud commented on #50
Old issue !! héhé
I have created a project named [Yaserde](https://github.com/media-io/yaserde) to handle all specific features of XML.
It can be possible to use Yaserde with Serde, so like that an XML can be wroten in Json etc.

It provides today a pretty good coverage of XML features.

[2020-12-16 14:11] reza-ebrahimi commented on #140
Any progress here?

[2020-12-26 00:21] fulara commented on #55
fyi, I am happy that this wasnt solved anyhow - thanks to this error I realised that I have dependency on the order of xml children, and if this would be /working/ I would spent hours trying to find the rootcause! so the enum solution here is actually what I really wanted, thanks!

[2021-01-07 12:13] bminixhofer opened #145 "Any chance for a release?"
Hi! I currently depend on serde-xml-rs in a project I would like to release on crates.io: https://github.com/bminixhofer/nlprule.

I need the fix for untrimmed whitespace (https://github.com/RReverser/serde-xml-rs/pull/79) so I currently have to depend on the git repo.

Is there any chance you could do a patch release to include this fix? The last release was ~ 10 months ago and it looks like ther

[2021-01-07 12:29] punkstarman commented on #145
OK @bminixhofer, I'll try to find time this week.

[2021-01-07 12:56] bminixhofer commented on #145
Thanks a lot! I really appreciate it.

[2021-01-10 13:14] punkstarman commented on #145
:heavy_check_mark: done

[2021-01-10 13:14] #145 closed

[2021-01-10 13:15] punkstarman commented on #144
I think that this would be a great feature!

[2021-01-11 10:10] decathorpe commented on #101
I think I have narrowed this down to docmatic doing something weird when creating the tests from the README.

[2021-01-24 14:04] luke-titley commented on #144
wow, I just went on this issues page to ask about a feature like this as well. I would be an amazing feature!

[2021-01-27 08:13] SeedyROM commented on #82
@JRAndreassen I solved this issue by creating a struct for the root element, it seems that it's searching into the XML parser state but the end of because your `ValueLookup` hasn't been parsed.

[2021-01-27 08:56] SeedyROM commented on #55
Just why? Having a reusable tag is not insane, especially if the types are the same! Am I missing something?

[2021-01-27 20:58] lovasoa opened #146 "Add a default catchall case to enum to allow parsing elements with an unknown name"
Let's say I have an xml document with the following form :

[code]

and I am only interested in elements of type `item1` and `item2`.

Currently, there is no good way to parse such a document with serde-xml-rs.

## Try 1

I can write the following

[code]

Unfortunately, it won't work with documents such as

[code]

because of https://github.com/RReverser/serde-xml-rs/issues/55 which has been a op

[2021-01-27 23:10] lovasoa commented on #146
Reading more documentation, I see that serde has a [`#[serde(other)]`](https://serde.rs/variant-attrs.html#other) enum attribute, but it works only on unit enum variants, and this crate [refuses](https://github.com/RReverser/serde-xml-rs/blob/master/src/de/var.rs#L59-L62) to deserialize xml tags with attributes or children to unit variants.

[2021-01-28 08:46] lovasoa commented on #146
The best I found at the moment is

[code]

[2021-01-28 08:57] lovasoa commented on #55
The best workaround I found at the moment is to use an enum with [`#[serde(other)`](https://serde.rs/variant-attrs.html#other) and [`#[serde(deserialize_with)]`](https://serde.rs/variant-attrs.html#deserialize_with) to deserialize unknown tags:

[code]

[2021-01-28 09:38] punkstarman commented on #55
Thank you @lovasoa.

IMHO, this isn't a workaround but a solution.

[2021-01-28 09:41] punkstarman commented on #146
Thank you @lovasoa for your detailed info.

I am closing this because :
- I deem that your latest comment is not just a workaround but the proper solution;
- the issue seems to be duplicating #55.

[2021-01-28 09:41] #146 closed

[2021-01-28 15:33] JRAndreassen commented on #82
@SeedyROM ,...

Not sure I follow....
"A section of code is with a 1K words" :)

[2021-01-28 20:15] lovasoa commented on #55
I made a pr to serde_with, so that `deserialize_ignore_any` can be imported instead of copy-pasted https://github.com/jonasbb/serde_with/pull/251

[2021-02-05 04:39] Rudo2204 opened #147 "Help deserialize mixed tags and string in body $value (html text formatting)"
I'm trying to deserialize some dictionary defitnitions and came across this one which contains mixed multiple tags with normal string (html text formatting).
[code]
I looked around in [serde-xml-rs tests](https://github.com/RReverser/serde-xml-rs/blob/master/tests/test.rs) and tried this solution which seems to be close but it doesn't quite work
[code]
The error I'm getting is:
[code]
I can make i

[2021-02-15 14:25] patrickelectric opened #148 "println does not print formatted xml with indentation"
I'm not sure if I'm missing something, but all format types return the same plan string and not a well formatted xml with indentation

[2021-02-15 14:35] patrickelectric opened #149 "to_string and from_string output does not match"
example:
[code]
[code]

[2021-02-16 22:50] agentydragon commented on #131
I just run into the same thing in my project: https://github.com/RReverser/serde-xml-rs/commit/d0ba73cce9320fc491c3d4a3e7dbeffd2ef99cf5

I'd expect this to work:

[code]

But I get:

[code]

[2021-03-19 20:00] #55 closed

[2021-04-12 18:29] efx opened #155 "moving this repository to a new home for better maintenance"
Hello folks,

First off, a huge thank you to @RReverser for starting this project.
I have benefited from learning from an open serde project for XML.

How do you both feel about creating an xml-rs group on GitHub and moving this project there?
I noticed [pdf-rs](https://github.com/pdf-rs) does this.
I feel like it is a worthwhile idiom to manage open projects on GitHub.

I am in the business for a

[2021-04-20 18:26] efx commented on #155
As I better understand serde, serializers and working XML in Rust, I am withdrawing this request.

Serde's designer notes that arbitrary XML serializing does not fit serde's design well:
- https://github.com/serde-rs/serde-rs.github.io/pull/112#pullrequestreview-408688152
- https://github.com/serde-rs/serde/issues/1725#issuecomment-626243415

He recommends the community establish libraries special

[2021-04-20 18:26] #155 closed

[2021-04-20 20:26] RReverser commented on #155
I think moving this repo to `serde` umbrella would be still useful and it's something we discussed in the past, but for your specific requests, yeah, the best choice is to create separate libraries if `serde-xml-rs` doesn't cover your needs.

[2021-04-20 20:28] RReverser commented on #155
@oli-obk @dtolnay I think we talked about this in the past and you were open to this - if still the case, could you please give me permissions to create repos under serde-rs so that I could transfer it there?

[2021-04-21 20:33] dtolnay commented on #155
Moving to the serde org is effectively an endorsement that "you should use this" which, as linked above, is not my position. Moving to the serde-deprecated org (https://github.com/serde-deprecated) and archiving the repo is a possibility, but that doesn't seem necessary if the library is still loosely maintained over here -- and the set of maintainers is disjoint from serde anyway.

[2021-04-21 21:12] RReverser commented on #155
Uh, that sounds weird / wrong. It's certainly not deprecated - maybe you're confusing with serde-xml (the old implementation)?

[2021-04-21 21:15] RReverser commented on #155
I checked the linked comment, apparently not. It's still weird to mark it as deprecated or not recommended just because it doesn't cover _all_ XML schemes.

[2021-05-22 18:26] Ewpratten commented on #135
I get to the very end of a project and discover this doesn't work..

[2021-05-27 06:25] azzamsa commented on #148
I am looking for the same thing. [quick-xml](https://github.com/tafia/quick-xml/issues/264) still doesn't have this feature too.

[2021-05-27 12:40] woelper opened #156 "Help deserialising alternating pairs"
Hi!
I am trying to deserialise xml from [Texturepacker](https://www.codeandweb.com/texturepacker) - It's in  rather unusual format that uses some markup like this:
[code]
I read the docs and looked at the tests, but I could not figure out a way to do that. Maybe this is outside the scope of this crate, but is there any functionality available to make this easier?

Example:
[code]

[2021-06-05 20:45] zhiburt commented on #135
Also get the same for this structure

[code]

[2021-06-12 09:26] woelper commented on #135
Sorry for being a bit off-topic, but I ran into the same issue as well and found a workaround: you could try to use https://github.com/tafia/quick-xml as a drop-in replacement until this issue is resolved.

[2021-06-12 14:07] Ewpratten commented on #135
@woelper That ended up being my solution too.

[2021-06-21 02:39] scribe opened #157 "Option type fails on self-closing tag"
I'm very new to Rust so if this is an obvious mistake I'm sorry in advance.

I have the following struct
[code]

and it works great in almost every case, but my other system passed me the following data.

[code]

Which generates the following error:

```called `Result::unwrap()` on an `Err` value: UnexpectedToken { token: "EndElement", found: "Characters" }
thread 'create_bucket::create_bucket::te

[2021-07-09 08:03] jmagnusson commented on #126
FYI I'm getting this result:
[code]
with the following dependencies:
[code]

[2021-08-06 15:04] Kixunil opened #158 "Release a new version?"
Would it be possible to release a new version? It'd like to use #143

[2021-08-06 15:38] punkstarman commented on #158
Yes. Hopefully, I can get to it over the weekend.

[2021-08-15 01:19] krruzic opened #159 "Allow duplicates"
I am trying to parse xml like this:
[code]
but I get an error because `name` is both an attribute and a tag. Is there any way to ignore one or the other?

[2021-08-23 07:59] punkstarman commented on #159
I've been meaning to integrate some experiments I did a while ago on another repository (https://github.com/punkstarman/serde-xml) where attributes are preceded by an "@" to distinguish them from tags.

Until then, you can probably write a custom deserializer to ignore duplicate fields.

[2021-09-13 22:05] tjkirch opened #160 "Add changelog or release notes"
It would be great to have a changelog in the repo and/or release notes on the GitHub releases page. It would help users know the context of a release and what changes they might need to be aware of in relation to their own code.  Thanks!

[2021-09-14 07:48] punkstarman commented on #160
Good idea. I'll try to keep it in mind.

[2021-09-14 11:14] thorstenhater opened #161 "Question: How to deserialize arbitrary tag?"
I have a question and I hope this is right channel to ask. I am trying to deserialize a data format based
on XML using serde, which essentially boils down to
[code]
Note how the `B` tag can be used a shorthand for `item kind="B"`.
I have a working implemention for the non-shorthand part that looks like this
[code]
However, how to capture the short-hand feature? Using the pattern from the
JSON exam

[2021-09-14 19:35] #158 closed

[2021-09-14 19:37] punkstarman commented on #161
You have come to the right place.

Unfortunately, `flatten` overrides `$value`. I'm afraid that it's one or the other.

[2021-09-14 19:40] punkstarman commented on #161
Also, using `unknown: Map<String, Value>` works with JSON or YAML where the same key can't occur twice. It doesn't work so well with XML.

[2021-09-14 20:06] thorstenhater commented on #161
Thanks, do you have any pointers on how to implement this? Preferably without leaving serde behind, of course.
A custom `deserialize` seems currently the only way I can see, although I have never delved into that.

[2021-09-15 11:14] punkstarman commented on #161
I'm afraid that I don't have any ideas on how to do that.

[2021-09-17 18:50] thorstenhater commented on #161
Thanks for your answers, I settled on re-writing the data in memory. Not as elegant as I would like, but it works for the
time being.

That said, this functionality would still be useful, as there are XML schemata using `<xs:any>` which I will have to deal
with in the near future.

[2021-09-17 18:50] #161 closed

[2021-09-18 19:23] #141 closed

[2021-10-13 17:47] NotBad4U opened #165 "Duplicate field error with Serde"
Hi everyone,

I am trying to deserialize, with Serde,  this XML generated by software that I use:
[https://gist.github.com/NotBad4U/73886bd7ab591445057ebc15ad838f27](https://gist.github.com/NotBad4U/73886bd7ab591445057ebc15ad838f27
).
I deserialize like this:
[code]

but I get the error `duplicate field: state`:
[code]
Is there a way to fix this issue?

[2021-10-14 03:09] NotBad4U commented on #165
Thank you for your quick support! That works perfectly. :+1:

[2021-10-14 03:09] #165 closed

[2021-10-15 15:55] evensolberg opened #166 "debug! to trace!"
I am using this crate indirectly through the [tcx](https://crates.io/crates/tcx) crate, and when I try to `debug!` things in my application, I also get debug messages from this crate, which floods my log.

I'm happy to receive the logs from this crate at a `trace!` level, but I think `debug!` may interfere too much. Would it be possible to either lower the logging level from this crate to `trace!`

[2021-10-16 13:50] elpiel commented on #140
Is it possible to force an element or an attribute?
It seems that regular Struct fields deserialization handles both attributes and elements and does not distinguish between them.

[2021-10-16 19:27] punkstarman commented on #140
Soon I will be introducing a breaking change so that elements and attributes are handled differently.

[2021-10-16 19:34] elpiel commented on #140
Great! How can I help?
I've been fighting with this all day.... 😅

[2021-10-16 20:04] elpiel commented on #140
Quck Q: why have you chosen to use rename instead an attribute like `serde_with`?

The API seems a bit confusing to me with `rename=$value` especially since I'm using the crate in a project for a first time.

[2021-10-21 14:30] benjaminSchilling33 opened #167 "Parsing XML with varying child elements"
I'm trying to deserialize webdav responses from a Nextcloud instance.

Currently the parsing failes due to the following error:
`UnexpectedToken { token: "EndElement", found: "Characters" }`

I'm not 100% sure what causes this problem, but I would expect that it is caused by the following issue:

I receive the response as XML that contains an element that can have child elements, in this case `pro

[2021-11-07 15:02] jonasbb commented on #4
I found a way to make this example work. The code is based on this incomplete PR of me https://github.com/jonasbb/serde_with/pull/375.
The additional `deser_value_field` function is necessary to 1) signal that the value of the tag should be parsed by using the rename to `$value` and 2) to parse the value from a String. Presumably, the `flatten` makes all values turn into a String (likely due to ht

[2021-11-10 03:18] Curricane commented on #135
how can i serialize a struct with vec?!

[2021-11-10 08:36] punkstarman commented on #135
Sorry that the serializer isn't complete yet. As soon as I have some time, I've got some stuff in the works for revamping and completing the serializer.

@Curricane, if you are in a hurry, you can have a look at the project where I did some experimentation: https://github.com/punkstarman/serde-xml

[2021-11-26 14:12] Corasonn commented on #126
I also have this issue.

serde = { version = "1.0.18", features = ["derive"] }
serde-xml-rs = "0.5.1"

Here is a solution/workaround:
https://stackoverflow.com/questions/70124048/how-to-create-xml-from-struct-in-rust

[2021-11-26 14:35] Corasonn opened #168 "Document how attributes can be used"
[code]
[code]

This produces:

`<A><b>bar</bar><A>`

It's what I expect, but what I need is:

` <A b="bar"><A>`

 How can I achieve this? I didn't find any documentation about it.

[2021-11-27 19:29] punkstarman commented on #168
Thank you @Corasonn. Unfortunately what you want can't be achieved yet. I am working on rewriting the serializer completely based on a prototype of mine (https://github.com/punkstarman/serde-xml).

[2021-11-27 19:29] punkstarman commented on #168
This is a duplicate of #140.

[2021-11-27 19:29] #168 closed

[2021-11-27 19:31] punkstarman commented on #126
I am working to rewrite the serializer entirely. Just waiting to get some time. Hopefully, before the year is over.

[2022-01-16 23:03] 1sra3l commented on #55
@punkstarman I can provide valid xml examples that are libre sourced to test.

[Joe's Window Manager](https://github.com/joewing/jwm/blob/master/example.jwmrc)
[KDE Plasma](https://github.com/KDE/plasma-simplemenu/blob/master/package/contents/config/main.xml)

The [Standard XDG menu](https://specifications.freedesktop.org/menu-spec/menu-spec-latest.html#example) is another example.
I tried all you

[2022-01-18 00:14] 1sra3l commented on #55
@RReverser this issue still exists, as far as I can tell.
Specifically with both of the files I provide.
I have tried the enum, with the `Other` as well as using:
[code]
What am I missing if this is **fixed**?
JWM specifically uses out of place items:
[code]
I have tried your tricks and they do not work.  Which likely means I am missing something.
The `Vec<enum>` method does not work even with:
[c

[2022-01-30 17:00] 1sra3l commented on #165
@punkstarman I have issues with this still.
Joe's Window Manager use [xml](https://github.com/joewing/jwm/blob/master/example.jwmrc) for configuring it.
Here is the issue: (added spacer and button comments below)
[code]
Here is code using your suggestion:
[code]
Yet I get:
`Error:custom: duplicate field 'Spacer'`
What am I missing from your suggestions?

[2022-02-05 16:27] 1sra3l commented on #167
Hey I'd use `Option<whatever>` for the items that are not always in every single `prop`
Something like:
[code]

[2022-02-05 16:32] 1sra3l opened #169 "Error: custom: duplicate field `whatever`"
@punkstarman I have issues with this still.
Joe's Window Manager use [xml](https://github.com/joewing/jwm/blob/master/example.jwmrc) for configuring it.
Here is the issue: (added spacer and button comments below)
[code]
Here is code using your suggestion:
[code]
Yet I get:
`Error:custom: duplicate field 'Spacer'`
What am I missing from your suggestions?

_Originally posted by @1sra3l in https://gi

[2022-02-17 15:15] 1sra3l commented on #169
@RReverser
Do you intend to address this vital component of XML, or are you content with simply ignoring that your library is unusable and broken for a large subset of XML?

If you need a well known example, not fringe like the widely used freedesktop Menu files, look at SVG.  There is no way you can support the vector graphic file if you do not allow people to put multiple out of order elements,

[2022-02-17 15:34] benjaminSchilling33 commented on #167
thanks, that helped!

[2022-02-17 15:34] #167 closed

[2022-02-19 13:30] RReverser commented on #169
Yes.

[2022-02-19 13:30] #169 closed

[2022-02-19 14:18] 1sra3l commented on #169
@RReverser Sorry, I was frustrated, I am sorry for being direct and honest about my frustration.  It is unfortunate that you are settling for a broken library, since this is OSS I thought it meant you were passionate about your code's quality.

You might consider renaming your library the name is a bit misleading.

[2022-02-19 16:16] RReverser commented on #169
Well, I'm not. I created a library to solve the use-case I had and shared code with others in case it helps them too. That's open-source.

It doesn't mean I actively maintain the library or develop new features - in fact, it was another volunteer who did most of maintenance in the recent years.

If you want to also volunteer and send PRs, you're welcome to do so. If you want to switch to alternati

[2022-02-19 18:02] 1sra3l commented on #169
@RReverser Thanks for being understanding!  I am not nearly as talented at programming as you or your contributors, so you would likely have more work than if I made no contribution.  Thank you for your work, and again I apologize for being frustrated and expressing it to you in the way I did.  I appreciate your level of reserve even though I was frustrated.

[2022-02-19 19:40] #76 closed

[2022-02-19 19:40] #138 closed

[2022-02-19 19:40] #140 closed

[2022-02-19 19:42] punkstarman commented on #126
Solved by #173

[2022-02-19 19:42] #126 closed

[2022-03-17 21:28] zmrow commented on #126
Just running into this same issue now!  Any chance of a release that includes the fix? :) :)

[2022-03-28 08:57] christopher-drews opened #174 "Handling namespaces"
Hi,

how do you feel about adding the following features:

- handling namespaces
- (automatically escaping special character "<", ">" and "&" in strings) -->**ignore**, I just saw it should was done in MR #173 (issue #138)

I can support and try to implement these, but before I spend my time it would be great to know if you would consider merging these once implemented.

[2022-04-07 12:06] JorritSalverda opened #175 "Ampersand does not get serialized properly"
I have the following struct I'm trying to serialize:

[code]

However when I run the following test with an `&` in a value it should be encoded as `&amp;`. Unfortunately `to_string` fails to do so and just keeps `&`.

[code]

It fails as follows:

[code]

My `Cargo.toml` has the following _dependencies_ (and some others that aren't relevant to this issue I would say):

[code]

Off-topic, shouldn't

[2022-04-14 11:07] paulvt commented on #157
Yes, this is a parsing issue.
It is even so that the XML generated for a struct field that has the value `None` is serialized as an empty/self-closing element will not be deserializable again.
The only work-around I could find for now, and this will not always work for every application is by placing `#[serde(skip_serializing_if = "Option::is_none")]` on those field so they are not present in the

[2022-05-17 14:54] elpiel commented on #140
Hey @punkstarman ,
I wanted to check up on you if you had any time to work on the deserializer for attributes?

PS: Congratulations on finishing up the serializer! :tada:

[2022-05-21 21:27] Mingun commented on #55
I've implemented parsing overlapped sequences in https://github.com/tafia/quick-xml/pull/387 under a feature flag `overlapped-lists`. Be noted, that enabling that feature could lead to quadratic parsing and high memory consumption, so use it at your risk.

[2022-06-30 08:54] bahetiai opened #177 "Serialization and deserialization errors"
Code：

[code]

but i got error
[code]

[2022-07-26 13:11] alakhpc opened #178 "Help with deserializing/serializing"
Hi!, I have a xml file with a structure like this
[code]

I'd like to change the value of "Prop2" to something else and then write to another file

How would I do this, I tried Deserializing like this
[code]
that gives me the values but I can't serialize it again into the same format,
It comes out as
[code]

I dont want to make a struct since there are few hundred properties in the file and I only

[2022-07-27 12:42] xvenge00 opened #179 "Adjacently tagged enums deserialization doesn't work"
Hi, I'm having trouble deserializing following XML

[code]

I would expect using [adjacently tagged](https://serde.rs/enum-representations.html#adjacently-tagged) enums would work, but I get error.
``called `Result::unwrap()` on an `Err` value: Custom { field: "invalid type: map, expected variant identifier" }
thread 'entities::tests::test_serialize_member' panicked at 'called `Result::unwrap()` o

[2022-07-27 22:03] zmrow commented on #135
Does the serializer completed in #173 and mentioned as a solution to #76 also fix this issue?

If so, is there any chance of a release in the near future?

[2022-08-14 07:36] pinkforest opened #180 "Maintenance status"
Hi @RReverser @punkstarman

xml-rs is of unmaintained status -

https://github.com/netvl/xml-rs/issues/219
https://github.com/netvl/xml-rs/issues/210
https://github.com/netvl/xml-rs/issues/204

There are concerns that the xml-rs crate may have issues parsing untrusted data as it is both unmaintained and has parsing issues that include integer overflows / panic etc.

I wonder if people should be us

[2022-08-15 10:38] RReverser commented on #180
Good question, I haven't seen those xml-rs updates. xml-rs was pretty essential to this crate (as reflected in the name), but I suppose we could theoretically switch to something else... Depends how much interest there is.

[2022-08-15 10:39] RReverser commented on #180
quick-xml seems promising, but it has its own Serde support already. Maybe we should just redirect users to them... https://github.com/tafia/quick-xml

[2022-08-16 02:45] pinkforest commented on #180
Yeah maybe just wait and see - there is supposed to be a new maintainer sometime in the next three months.

Would be good to continue to have an alternative like serde-xml-rs still around so thanks for caring -

Closing as serde-xml-rs cannot really do much re: upstream deps and the maintainer is around :)

ref's
https://github.com/rustsec/advisory-db/issues/1121
https://github.com/rustsec/advisor

[2022-08-16 02:45] #180 closed

[2022-08-22 22:52] nashley commented on #98
Does [this PR](https://github.com/RReverser/serde-xml-rs/pull/173) fix it for you?
As of writing, it has not been released, so you'd need to specify the dependency via `git`:
[code]

[2022-08-30 16:18] AntoniosBarotsis commented on #64
I am trying to parse an RSS feed and the part that is relevant looks like this

[code]
The thread doesn't seem to have a concrete solution for this but posting anyway in case someone came up with one and just didn't reply.

I tried setting `link` to a [String vector](https://github.com/RReverser/serde-xml-rs/issues/64#issuecomment-477992884) but that doesn't work for me.

Is there perhaps a differ

[2022-08-31 12:54] punkstarman commented on #135
@zmrow I will check and try to release in the next week.

[2022-08-31 18:40] punkstarman commented on #174
Hi @christopher-drews,

Supporting namespaces is on the agenda. Last year I prototyped a few ideas on [my other repo](https://github.com/punkstarman/serde-xml) before settling on an idea that I liked.

[2022-08-31 18:41] punkstarman commented on #98
I just released a new version.

[2022-08-31 18:43] punkstarman commented on #135
I just released a new version.

[2022-09-01 09:20] punkstarman commented on #135
This is appears to be fixed in the new version.

[2022-09-01 09:20] #135 closed

[2022-09-01 09:33] punkstarman commented on #179
This is fixed now in the latest version (`0.6.0`).

The minimal example you provided will still fail, but only because the serializer will tack on the XML prolog (`<?xml version="1.0" encoding="UTF-8"?>`).

[2022-09-01 09:33] #179 closed

[2022-09-05 09:41] punkstarman commented on #140
@elpiel, I haven't gotten to it, but would like to soon. I think the 2 top priorities are that and namespace support.

[2022-09-09 17:40] aknarts opened #184 "Wrong serialization of Vec<Enum>"
I am trying to serialize this

[code]
Sadly this ends up being
[code]
I think the expected output would be
[code]

Or am I doing something wrong here?

[2022-09-09 19:36] aknarts commented on #184
I did identify where the wrong tag comes in https://github.com/RReverser/serde-xml-rs/blob/master/src/ser/seq.rs#L26-L29 that is as far as my debugging goes I think

[2022-09-09 20:18] aknarts commented on #184
Not sure if this helps
[code]

[2022-09-09 20:33] aknarts commented on #184
I am fairly certain that #154 but somebody has to merge it with master and that does not seem to be an easy task either.

[2022-09-15 16:12] MrMarnic opened #185 "Custom { field: "missing field `soap:Body`" } when colon used"
I am trying to decode this xml message:
`<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><AuthenticateUserResponse xmlns="http://oneclickforapp.dpag.de/V3"><userToken>USERTOKEN</userToken><walletBalance>100000</walletBalance><showTermsAndConditions>true</showTermsAndConditions></AuthenticateUserResponse></soap:Body></soap:Envelope>`

This is my code:
[code]

But it

[2022-09-29 18:05] rrichardson opened #186 "LastElementNameNotAvailable error on writing"
When attempting to serialize a struct, I get the error `LastElementNameNotAvailable`
Looking at the xml-rs code, that error is emitted after it fails to pop a name off of the stack.

https://github.com/netvl/xml-rs/blob/master/src/writer/emitter.rs#L351

So I'm guessing that it tried to call `end_tag` too many times?

I have these types (defined by the boto AWS s3 spec)

[code]

[2022-09-29 18:28] rrichardson commented on #186
Here is the debug output:

[code]

[2022-09-29 21:33] burleight commented on #186
+1

There is a bug when serializing Vec's of struct or enum. I'm working on a fix.

[2022-10-12 14:08] nikclayton opened #188 "Decoding 0 elements in to a Vec gives "custom: missing field `$value`" error"
tl;dr: If an element can contain 0-N child elements, it's not sufficient to specify the child elements in a struct field of type `Vec`. You have to wrap the `Vec` in an `Option`. I found this to be counterintuitive.

I'm not sure if this is a software bug or an issue that should be more clearly explained in the documentation.

Longer:

Consider the following (it's a snippet from an Android resourc

[2022-11-04 00:27] pavelskipenes commented on #188
a vector can have 0 elements so it should be a valid state

[2022-11-17 20:46] Capicou commented on #82
Has this been answered, having same problem.

[2022-11-17 21:10] JRatPrtgconsultants commented on #82
@Capicou ...
It's been so long I forget...
I'll check when I got my head above water...

[2022-11-21 14:34] Capicou commented on #82
Let me know, still have not figured out.

[2022-11-21 20:04] diegoefe opened #189 "Deserialization with custom deserializer does not work according to serde spec"
The customization works using serde-json but not the serde-xml-rs' one.

The example is based on this doc page: [Deserialize either a string or a struct](https://serde.rs/string-or-struct.html)

Using this Cargo.toml's dependencies:

[code]

And this main.rs (run it with **cargo test -- --nocapture**)
[code]

[2022-11-22 16:22] git-blame commented on #82
@Capicou
I am now using the crate `quick-xml` for XML deserialization but not for this specific issue. I wrote up a quick test and found that:
* Latest `serde-xml-rs` (0.6.0) still has this issue
* `quick-xml` (0.26.0) is able to correctly deserialize into recursive enum. It has problems with recursive structs but there may be a way to organize or add tags in such a way as to make it work.

[recur

[2022-11-23 13:36] punkstarman commented on #82
The initial problem isn't really a bug.

You can't use a plain `String` as the `$value` of an `InodeStruct`.

[2022-11-23 13:38] punkstarman commented on #82
@JRatPrtgconsultants (or @JRAndreassen is it?), to help with the problem you encountered, I would need the Rust code you were using.

I agree that the error message could be better.

[2022-11-24 09:12] brassy-endomorph commented on #147
Has this been addressed? And if so, can it be documented somewhere? Being able to quickly process something like say XHTML would be very helpful.

[2022-11-29 07:40] peschu123 opened #190 "Is there something like "from_slice""
Hi,
I have to deserialize some xml. I was wondering if there is something similar to ["from_slice" function in serde_json](https://docs.rs/serde_json/latest/serde_json/fn.from_slice.html)?

I always find references to serde_bytes, but not one simple example how this magic is supposed to work.

Thanks if anybody can point me into the right direction.